Repository josephedward/kubelingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-compile, prevent-question-data-deletion, run-cli-help

python-compile:
  name: Python Syntax Check
  entry: python -m compileall .
  language: system

prevent-question-data-deletion:
  name: Prevent deletion of quiz data files
  entry: 'bash -c "if git diff --cached --diff-filter=D --name-only | grep -E ''^(question-data/.*\.(yaml|yml)|question-data-backup/.*\.(yaml|yml))$''; then echo ''Error: Deletion of quiz data is prohibited.''; exit 1; fi"
  
    '
  language: system
  stages:
  ...

run-cli-help:
  name: Ensure Kubelingo CLI runs without error
  entry: 'bash -c "python -m kubelingo.cli --help"
  
    '
  language: system

feat: Implement SQLite indexing for YAML questions and dynamic topics
  Cargo.toml
  kubelingo/database.py
  scripts/question_manager.py
  src/main.rs
Due: python-compile, run-cli-help

fix: Update default paths for AI question organization
  scripts/consolidator.py
Due: python-compile, run-cli-help

feat: add function to fetch questions for CLI display
  kubelingo/database.py
Due: python-compile, run-cli-help

feat: rename and organize YAML files based on content ID
  kubelingo/utils/path_utils.py
Due: python-compile, run-cli-help

fix: Use FullLoader for YAML to support custom types
  scripts/consolidator.py
Due: python-compile, run-cli-help

fix: Use UnsafeLoader for YAML; delete only processed source files
  scripts/consolidator.py
Due: python-compile, run-cli-help

refactor: Update YAML question file paths in consolidator script
  scripts/consolidator.py
Due: python-compile, run-cli-help

refactor: Use database as single source of truth for quizzes
  kubelingo/config.py
  kubelingo/modules/kubernetes/study_mode.py
  kubelingo/utils/config.py
Due: python-compile, run-cli-help

chore: Remove multiple question files
  yaml/064ee35a-6c0c-4c9a-8396-eaa8f00128a0.yaml
  yaml/289deec0-a292-4804-822d-ea6d2788861e.yaml
  yaml/486a56dd-c764-4ed9-a476-1c8d2dc350e0.yaml
  yaml/6bb11af1-1b4f-4927-ae85-19b3e54ba969.yaml
  yaml/6d2b4224-7e1e-4679-b1e8-cc6c1a990edb.yaml
  yaml/a463f9b4-e222-4f74-9520-e7b84059a3f2.yaml
Due: prevent-question-data-deletion

feat: Improve generated question storage and quiz menu updates
  kubelingo/modules/kubernetes/study_mode.py
Due: python-compile, run-cli-help

feat: Organize generated questions into category/subject subdirs
  kubelingo/modules/kubernetes/study_mode.py
Due: python-compile, run-cli-help

feat: Introduce questions covering API resources, commands, and ReplicaSets
  yaml/questions/api_resources_api_289deec0.yaml
  yaml/questions/api_resources_explain_486a56dd.yaml
  yaml/questions/api_resources_list_6bb11af1.yaml
  yaml/questions/api_resources_resource_064ee35a.yaml
  yaml/questions/commands_entrypoint_a463f9b4.yaml
  yaml/questions/core_workloads_replicaset_6d2b4224.yaml
Due: prevent-question-data-deletion

refactor: Reorganize YAML questions into categorized subdirectories
  yaml/basic/api-resources/what_is_api_resource_064ee35a.yaml
  yaml/basic/api-resources/what_is_kubernetes_api_289deec0.yaml
  yaml/basic/commands-args-env/dockerfile_entrypoint_a463f9b4.yaml
  yaml/basic/core-workloads/what_is_replicaset_6d2b4224.yaml
  yaml/command/api-resources/kubectl_api-resources_6bb11af1.yaml
  yaml/command/api-resources/kubectl_explain_486a56dd.yaml
Due: prevent-question-data-deletion

refactor: Organize YAML questions by category and subject
  yaml/basic_qa/general_operations.yaml
  yaml/command_syntax/additional_commands.yaml
Due: prevent-question-data-deletion

refactor: update database to track exercise categories and subject matter
  kubelingo/database.py
Due: python-compile, run-cli-help

Update Cargo.lock
  Cargo.lock
Due: none

fix: define missing _get_file_hash function to resolve undefined name error
  kubelingo/database.py
Due: python-compile, run-cli-help

refactor: Organize questions into category/subject directories
  kubelingo/utils/config.py
  scripts/consolidator.py
Due: python-compile, run-cli-help

refactor: Create command syntax ConfigMap operations questions
  yaml/command_syntax/configmap_operations.yaml
Due: prevent-question-data-deletion

feat: Add new command syntax questions for deployments and Helm
  yaml/command_syntax/deployment_management.yaml
  yaml/command_syntax/helm_basics.yaml
  yaml/command_syntax/helm_repositories.yaml
Due: prevent-question-data-deletion

feat: Update question metadata in DB when organizing files
  scripts/consolidator.py
Due: python-compile, run-cli-help

feat: Track question changes with timestamps and content hash
  kubelingo/database.py
  kubelingo/question.py
Due: python-compile, run-cli-help

feat: add CLI command to list questions with metadata from database
  scripts/consolidator.py
Due: python-compile, run-cli-help

feat: Add filtering to list-questions CLI command
  scripts/consolidator.py
Due: python-compile, run-cli-help

fix: Remove `extract_category_and_subject` import and usage
  kubelingo/database.py
Due: python-compile, run-cli-help

feat: add interactive selector for Kubernetes exercises with question counts
  scripts/consolidator.py
Due: python-compile, run-cli-help

fix: Add get_all_questions function to database module
  kubelingo/database.py
Due: python-compile, run-cli-help

fix: add missing validate_prompt_completeness function to validation module
  kubelingo/utils/validation.py
Due: python-compile, run-cli-help

fix: Add missing command prompt and YAML structure validators
  kubelingo/utils/validation.py
Due: python-compile, run-cli-help

fix: Relocate _row_to_question_dict; remove validate_prompt_completeness
  kubelingo/modules/db_loader.py
  kubelingo/modules/question_generator.py
Due: python-compile, run-cli-help

fix: resolve ImportError by adding _row_to_question_dict function
  kubelingo/database.py
  kubelingo/modules/db_loader.py
Due: python-compile, run-cli-help

fix: Move _row_to_question_dict to database.py to resolve import error
  kubelingo/database.py
Due: python-compile, run-cli-help

fix: Remove duplicate _row_to_question_dict function
  kubelingo/database.py
Due: python-compile, run-cli-help

fix: Resolve ImportError for is_yaml_subset and ENABLED_QUIZZES
  kubelingo/utils/validation.py
  scripts/sqlite_manager.py
Due: python-compile, run-cli-help

fix: Move _row_to_question_dict to db_loader module
  kubelingo/database.py
  kubelingo/modules/db_loader.py
Due: python-compile, run-cli-help

fix: Update questions directory path for build
  kubelingo/utils/config.py
Due: python-compile, run-cli-help

fix: Add get_flagged_questions to database module
  kubelingo/database.py
Due: python-compile, run-cli-help

fix: Make YAML question import robust for various root types
  scripts/sqlite_manager.py
Due: python-compile, run-cli-help

fix: Implement commands_equivalent with Rust fallback
  kubelingo/utils/validation.py
Due: python-compile, run-cli-help

Update kubelingo.db
  .kubelingo/kubelingo.db
Due: none

Path conditions:
  python-compile: any of: \.py$
  prevent-question-data-deletion: any of: \.(yaml|yml)$
  run-cli-help: any of: \.py$
