Repository josephedward/kubelingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-compile, prevent-question-data-deletion, run-cli-help

python-compile:
  name: Python Syntax Check
  entry: python -m compileall .
  language: system

prevent-question-data-deletion:
  name: Prevent deletion of quiz data files
  entry: 'bash -c "if git diff --cached --diff-filter=D --name-only | grep -E ''^(question-data/.*\.(yaml|yml)|question-data-backup/.*\.(yaml|yml))$''; then echo ''Error: Deletion of quiz data is prohibited.''; exit 1; fi"
  
    '
  language: system
  stages:
  ...

run-cli-help:
  name: Ensure Kubelingo CLI runs without error
  entry: 'bash -c "python -m kubelingo.cli --help"
  
    '
  language: system

Update validation.py
  kubelingo/validation.py
Due: python-compile, run-cli-help

Update .gitignore
  .gitignore
Due: none

tests
  tests/test_kubelingo.py
  tests/test_kubernetes_validator.py
  tests/test_performance.py
  tests/test_performance_data.py
  tests/test_question_generator.py
  tests/test_source.py
Due: python-compile, run-cli-help

Delete performance.yaml
  user_data/performance.yaml
Due: prevent-question-data-deletion

Update kubelingo.py
  kubelingo/kubelingo.py
Due: python-compile, run-cli-help

Create question_manager.py
  kubelingo/question_manager.py
Due: python-compile, run-cli-help

Create test_question_manager.py
  tests/test_question_manager.py
Due: python-compile, run-cli-help

Create question_generator.py
  kubelingo/question_generator.py
Due: python-compile, run-cli-help

Create test_question_generator_module.py
  tests/test_question_generator_module.py
Due: python-compile, run-cli-help

Create k8s_gen.py
  scripts/k8s-gen_090225/k8s_gen.py
Due: python-compile, run-cli-help

Create k8s_grader.py
  scripts/k8s-grader_090225/k8s_grader.py
Due: python-compile, run-cli-help

scripts
  scripts/Kubernetes-Question-Generation-System_090225/README.md
  scripts/Kubernetes-Question-Generation-System_090225/backend_integrator.py
  scripts/Kubernetes-Question-Generation-System_090225/grader.py
  scripts/Kubernetes-Question-Generation-System_090225/k8s_manifest_generator.py
  scripts/Kubernetes-Question-Generation-System_090225/question_generator.py
  scripts/Kubernetes-Question-Generation-System_090225/requirements.txt
  scripts/Kubernetes-Question-Generation-System_090225/setup.py
Due: python-compile, run-cli-help

Update source_manager.py
  kubelingo/source_manager.py
Due: python-compile, run-cli-help

Update utils.py
  kubelingo/utils.py
Due: python-compile, run-cli-help

qs
  questions/configmap.yaml
  questions/deployment.yaml
  questions/job.yaml
  questions/pod.yaml
  questions/pvc.yaml
  questions/secret.yaml
  questions/service.yaml
Due: prevent-question-data-deletion

Path conditions:
  python-compile: any of: \.py$
  prevent-question-data-deletion: any of: \.(yaml|yml)$
  run-cli-help: any of: \.py$
