Repository josephedward/kubelingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-compile, prevent-question-data-deletion, run-cli-help

python-compile:
  name: Python Syntax Check
  entry: python -m compileall .
  language: system

prevent-question-data-deletion:
  name: Prevent deletion of quiz data files
  entry: 'bash -c "if git diff --cached --diff-filter=D --name-only | grep -E ''^(question-data/.*\.(yaml|yml)|question-data-backup/.*\.(yaml|yml))$''; then echo ''Error: Deletion of quiz data is prohibited.''; exit 1; fi"
  
    '
  language: system
  stages:
  ...

run-cli-help:
  name: Ensure Kubelingo CLI runs without error
  entry: 'bash -c "python -m kubelingo.cli --help"
  
    '
  language: system

feat: Create initial CKAD study CLI app
  ckad_study.py
  questions/core_concepts.yaml
  requirements.txt
Due: python-compile, prevent-question-data-deletion, run-cli-help

Create .gitignore
  .gitignore
Due: none

feat: Enable interactive question answering and handle Ctrl+C
  ckad_study.py
Due: python-compile, run-cli-help

feat: Add LLM feedback and fuzzy matching for command validation
  ckad_study.py
  requirements.txt
Due: python-compile, run-cli-help

feat: Implement topic selection and add all CKAD study questions
  ckad_study.py
  questions/api_discovery_docs.yaml
  questions/app_configuration.yaml
  questions/commands_args_env.yaml
  questions/core_workloads.yaml
  questions/image_registry_use.yaml
  questions/imperative_vs_declarative.yaml
  questions/ingress_http_routing.yaml
  questions/jobs_cronjobs.yaml
  questions/labels_annotations_selectors.yaml
  questions/linux_syntax.yaml
  questions/namespaces_contexts.yaml
  questions/networking_utilities.yaml
  questions/observability_troubleshooting.yaml
  questions/persistence.yaml
  questions/pod_design_patterns.yaml
  questions/probes_health.yaml
  questions/resource_management.yaml
  questions/scheduling_hints.yaml
  questions/security_basics.yaml
  questions/service_accounts_in_apps.yaml
  questions/services.yaml
Due: python-compile, prevent-question-data-deletion, run-cli-help

Update .gitignore
  .gitignore
Due: none

fix: Improve answer validation for multiple solutions and update AI model
  ckad_study.py
  questions/linux_syntax.yaml
Due: python-compile, prevent-question-data-deletion, run-cli-help

refactor: Remove unused fuzzy matching dependencies
  requirements.txt
Due: none

build: Add fuzzy matching dependencies
  requirements.txt
Due: none

fix: Update Gemini model to gemini-1.5-flash-latest
  ckad_study.py
Due: python-compile, run-cli-help

feat: Add question tracking, AI manifest editing, and question generation
  ckad_study.py
  questions/manifest_question.yaml
Due: python-compile, prevent-question-data-deletion, run-cli-help

fix: Pass prompt to generate_content
  ckad_study.py
Due: python-compile, run-cli-help

feat: Add Deployment manifest question
  questions/manifest_question.yaml
Due: prevent-question-data-deletion

feat: Add universal Vim support with question context and new edit type
  ckad_study.py
Due: python-compile, run-cli-help

Update namespaces_contexts.yaml
  questions/namespaces_contexts.yaml
Due: prevent-question-data-deletion

feat: Reformat manifest questions and add edit manifest question type
  questions/manifest_question.yaml
Due: prevent-question-data-deletion

refactor: Consolidate Pod manifest questions into core workloads
  questions/core_workloads.yaml
Due: prevent-question-data-deletion

feat: Randomize question type generation in AI prompt
  ckad_study.py
Due: python-compile, run-cli-help

feat: Add manifest-based questions to various topics
  questions/app_configuration.yaml
  questions/commands_args_env.yaml
  questions/core_concepts.yaml
  questions/imperative_vs_declarative.yaml
  questions/ingress_http_routing.yaml
  questions/jobs_cronjobs.yaml
  questions/labels_annotations_selectors.yaml
  questions/namespaces_contexts.yaml
  questions/resource_management.yaml
  questions/service_accounts_in_apps.yaml
  questions/services.yaml
Due: prevent-question-data-deletion

Delete manifest_question.yaml
  questions/manifest_question.yaml
Due: prevent-question-data-deletion

feat: Add new Q&A examples for various Kubernetes topics
  questions/api_discovery_docs.yaml
  questions/app_configuration.yaml
  questions/commands_args_env.yaml
  questions/core_workloads.yaml
  questions/image_registry_use.yaml
  questions/imperative_vs_declarative.yaml
  questions/ingress_http_routing.yaml
  questions/jobs_cronjobs.yaml
  questions/labels_annotations_selectors.yaml
  questions/namespaces_contexts.yaml
  questions/networking_utilities.yaml
  questions/observability_troubleshooting.yaml
  questions/persistence.yaml
  questions/pod_design_patterns.yaml
  questions/probes_health.yaml
  questions/resource_management.yaml
  questions/scheduling_hints.yaml
  questions/security_basics.yaml
  questions/service_accounts_in_apps.yaml
  questions/services.yaml
Due: prevent-question-data-deletion

feat: Return to main menu after topic completion
  ckad_study.py
Due: python-compile, run-cli-help

refactor: Consolidate core concepts questions into core workloads
  questions/core_workloads.yaml
Due: prevent-question-data-deletion

Delete ckad_study.py
  ckad_study.py
Due: python-compile, run-cli-help

Create kubelingo.py
  kubelingo.py
Due: python-compile, run-cli-help

Delete core_concepts.yaml
  questions/core_concepts.yaml
Due: prevent-question-data-deletion

feat: Add extensive set of new Kubernetes and Helm questions
  questions/api_discovery_docs.yaml
  questions/app_configuration.yaml
  questions/core_workloads.yaml
  questions/helm_basics.yaml
  questions/imperative_vs_declarative.yaml
  questions/jobs_cronjobs.yaml
  questions/kubectl_common_operations.yaml
  questions/kubectl_operations.yaml
  questions/labels_annotations_selectors.yaml
  questions/linux_syntax.yaml
  questions/namespaces_contexts.yaml
  questions/pod_design_patterns.yaml
  questions/probes_health.yaml
  questions/resource_reference.yaml
  questions/security_basics.yaml
  questions/service_accounts_in_apps.yaml
  questions/services.yaml
  questions/yaml_authoring.yaml
  questions/yaml_editing_practice.yaml
Due: prevent-question-data-deletion

refactor: Consolidate YAML questions into subject matter topics
  questions/app_configuration.yaml
  questions/core_workloads.yaml
  questions/persistence.yaml
  questions/pod_design_patterns.yaml
  questions/probes_health.yaml
  questions/resource_management.yaml
  questions/services.yaml
Due: prevent-question-data-deletion

Delete yaml_authoring.yaml
  questions/yaml_authoring.yaml
Due: prevent-question-data-deletion

Delete yaml_editing_practice.yaml
  questions/yaml_editing_practice.yaml
Due: prevent-question-data-deletion

refactor: Unify question format across all YAML files
  questions/app_configuration.yaml
  questions/persistence.yaml
  questions/pod_design_patterns.yaml
  questions/probes_health.yaml
  questions/resource_management.yaml
  questions/services.yaml
Due: prevent-question-data-deletion

refactor: Refactor core workload questions to question/solution format
  questions/core_workloads.yaml
Due: prevent-question-data-deletion

fix: Correct persistence topic schema and refine questions
  questions/persistence.yaml
Due: prevent-question-data-deletion

fix: Add question schema test and refactor YAMLs to prevent KeyError
  questions/app_configuration.yaml
  questions/core_workloads.yaml
  questions/pod_design_patterns.yaml
  questions/probes_health.yaml
  questions/services.yaml
  test_questions_schema.py
Due: python-compile, prevent-question-data-deletion, run-cli-help

refactor: Refactor question YAMLs to use question/solution schema and move test
  questions/api_discovery_docs.yaml
  questions/helm_basics.yaml
  questions/imperative_vs_declarative.yaml
  questions/jobs_cronjobs.yaml
  questions/kubectl_common_operations.yaml
  questions/kubectl_operations.yaml
  questions/labels_annotations_selectors.yaml
  questions/linux_syntax.yaml
  questions/namespaces_contexts.yaml
  questions/resource_reference.yaml
  questions/security_basics.yaml
  questions/service_accounts_in_apps.yaml
Due: prevent-question-data-deletion

test: Add schema validation test for question files
  tests/test_questions_schema.py
Due: python-compile, run-cli-help

Delete test_questions_schema.py
  test_questions_schema.py
Due: python-compile, run-cli-help

feat: Replace question flagging with issue reporting system
  kubelingo.py
Due: python-compile, run-cli-help

fix: Clarify Helm repo add question with URL
  questions/helm_basics.yaml
Due: prevent-question-data-deletion

Path conditions:
  python-compile: any of: \.py$
  prevent-question-data-deletion: any of: \.(yaml|yml)$
  run-cli-help: any of: \.py$
