Repository josephedward/kubelingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-compile, prevent-question-data-deletion, run-cli-help

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: python-compile
        name: Python Syntax Check
        entry: python -m compileall .
        language: system
        types: [python]
      - id: prevent-question-data-deletion
        name: Prevent deletion of quiz data files
        entry: |
          bash -c "if git diff --cached --diff-filter=D --name-only | grep -E '^(question-data/.*\.(yaml|yml)|question-data-backup/.*\.(yaml|yml))$'; then echo 'Error: Deletion of quiz data is prohibited.'; exit 1; fi"
        language: system
        types: [yaml]
        stages: [pre-commit]
      - id: run-cli-help
        name: Ensure Kubelingo CLI runs without error
        entry: |
          bash -c "python -m kubelingo.cli --help"
        language: system
        types: [python]

Update README.md
  README.md
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: prevent-question-data-deletion

Create publish.yml
  .github/workflows/publish.yml
Due: prevent-question-data-deletion

Create lint-commits.yml
  .github/workflows/lint-commits.yml
Due: prevent-question-data-deletion

Update .gitignore
  .gitignore
Due: none

Update kubelingo.py
  kubelingo/kubelingo.py
Due: python-compile, run-cli-help

improving questions
  questions/app_configuration.yaml
  questions/commands_args_env.yaml
  questions/core_workloads.yaml
  questions/kubectl_common_operations.yaml
Due: prevent-question-data-deletion

CI
  .github/workflows/publish.yml
  scripts/bump_version.py
Due: python-compile, prevent-question-data-deletion, run-cli-help

Update bump_version.py
  scripts/bump_version.py
Due: python-compile, run-cli-help

Update pyproject.toml
  pyproject.toml
Due: none

Update service_accounts_in_apps.yaml
  questions/service_accounts_in_apps.yaml
Due: prevent-question-data-deletion

Update imperative_vs_declarative.yaml
  questions/imperative_vs_declarative.yaml
Due: prevent-question-data-deletion

feat: Enhance LLM API key handling and add config option to menu
  kubelingo/kubelingo.py
  tests/test_kubelingo_functions.py
Due: python-compile, run-cli-help

no trigger
  .github/workflows/gemini-cli.yml
  .github/workflows/gemini-issue-automated-triage.yml
  .github/workflows/gemini-issue-scheduled-triage.yml
  .github/workflows/gemini-pr-review.yml
  .github/workflows/lint-commits.yml
Due: prevent-question-data-deletion

Update publish.yml
  .github/workflows/publish.yml
Due: prevent-question-data-deletion

Create enhance_questions.py
  scripts/enhance_questions.py
Due: python-compile, run-cli-help
