Repository josephedward/kubelingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-compile, prevent-question-data-deletion, run-cli-help

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: python-compile
        name: Python Syntax Check
        entry: python -m compileall .
        language: system
        types: [python]
      - id: prevent-question-data-deletion
        name: Prevent deletion of quiz data files
        entry: |
          bash -c "if git diff --cached --diff-filter=D --name-only | grep -E '^(question-data/.*\.(yaml|yml)|question-data-backup/.*\.(yaml|yml))$'; then echo 'Error: Deletion of quiz data is prohibited.'; exit 1; fi"
        language: system
        types: [yaml]
        stages: [pre-commit]
      - id: run-cli-help
        name: Ensure Kubelingo CLI runs without error
        entry: |
          bash -c "python -m kubelingo.cli --help"
        language: system
        types: [python]

refactor: Improve YAML stats file discovery and update maintenance docs
  docs/maintenance_scripts.md
  scripts/yaml_backup_stats.py
Due: python-compile, run-cli-help

chore: Make index_sqlite_files.py executable
  scripts/index_sqlite_files.py
Due: python-compile, run-cli-help

feat: Implement SQLite file indexing and refine maintenance script args
  scripts/index_sqlite_files.py
  scripts/index_yaml_files.py
  scripts/locate_yaml_backups.py
Due: python-compile, run-cli-help

fix: Remove contradictory links handling in YAML restore
  scripts/restore_yaml_to_db.py
Due: python-compile, run-cli-help

perf: Optimize `yaml_backup_stats` by leveraging YAML index
  scripts/yaml_backup_stats.py
Due: python-compile, run-cli-help

feat: Reorganize troubleshooting menu and add file indexing options
  kubelingo/cli.py
Due: python-compile, run-cli-help

fix: Simplify YAML backup stats file discovery
  scripts/yaml_backup_stats.py
Due: python-compile, run-cli-help

feat: Add SQLite and YAML indexing to CLI and comprehensive SQLite index tests
  tests/scripts/test_index_sqlite_files.py
Due: python-compile, run-cli-help

fix: Correct troubleshooting menu script mappings
  kubelingo/cli.py
Due: python-compile, run-cli-help

feat: Enhance yaml_backup_stats with index-based lookup
  scripts/yaml_backup_stats.py
  shared_context.md
Due: python-compile, run-cli-help

fix: Update troubleshooting menu script mappings
  kubelingo/cli.py
Due: python-compile, run-cli-help

fix: Correct SQLite indexer path resolution and improve test isolation
  scripts/index_sqlite_files.py
  tests/scripts/test_index_sqlite_files.py
Due: python-compile, run-cli-help

docs: Detail maintenance toolbox UI and AI question consolidation
  shared_context.md
Due: none

docs: Clarify Cancel option behavior in maintenance menu
  shared_context.md
Due: none

fix: Remove vim_quiz reference from config
  kubelingo/utils/config.py
Due: python-compile, run-cli-help

feat: Add option to consolidate unique YAML questions to menu
  kubelingo/cli.py
Due: python-compile, run-cli-help

feat: Make troubleshoot command interactive by default
  kubelingo/cli.py
Due: python-compile, run-cli-help

Delete ckad.py
  scripts/ckad.py
Due: python-compile, run-cli-help

feat: Implement script to classify and consolidate YAML questions
  scripts/consolidate_unique_yaml_questions.py
Due: python-compile, run-cli-help

chore: Deprecate reorganize_questions.py script
  scripts/reorganize_questions.py
Due: python-compile, run-cli-help

refactor: Consolidate question categorization scripts; remove CLI duplicate
  kubelingo/cli.py
  scripts/reorganize_questions.py
Due: python-compile, run-cli-help

Delete find_duplicate_questions.py
  scripts/find_duplicate_questions.py
Due: python-compile, run-cli-help

Delete reorganize_questions_by_schema.py
  scripts/reorganize_questions_by_schema.py
Due: python-compile, run-cli-help

Delete reorganize_question_categories.py
  scripts/reorganize_question_categories.py
Due: python-compile, run-cli-help

Delete reorganize_db_categories.py
  scripts/reorganize_db_categories.py
Due: python-compile, run-cli-help

Delete reorganize_schema_by_ai.py
  scripts/reorganize_schema_by_ai.py
Due: python-compile, run-cli-help

Update kubelingo.db
  .kubelingo/kubelingo.db
Due: none

Create index.yaml
  backups/index.yaml
Due: prevent-question-data-deletion

Create sqlite_index.yaml
  backups/sqlite_index.yaml
Due: prevent-question-data-deletion

Update roadmap.md
  docs/roadmap.md
Due: none

feat: Consolidate unique YAML questions
  scripts/consolidate_unique_yaml_questions.py
Due: python-compile, run-cli-help

Update db_loader.py
  kubelingo/modules/db_loader.py
Due: python-compile, run-cli-help

Create bug_tickets.yaml
  docs/bug_tickets.yaml
Due: prevent-question-data-deletion

feat: Add timestamped question backups; improve quiz exit behavior
  kubelingo/modules/kubernetes/session.py
  scripts/consolidate_unique_yaml_questions.py
Due: python-compile, run-cli-help

feat: Add interactive maintenance task menu
  scripts/kubelingo_tools.py
Due: python-compile, run-cli-help

docs: Update maintenance menu and document YAML utilities
  shared_context.md
Due: none

feat: Locate most recent YAML backup file
  scripts/locate_yaml_backups.py
Due: python-compile, run-cli-help

docs: Clarify YAML task descriptions
  shared_context.md
Due: none

feat: Add YAML diff tool; refine backup locate and stats scripts
  scripts/diff_yaml_backups.py
  scripts/yaml_backup_stats.py
Due: python-compile, run-cli-help

docs: Refine YAML task descriptions in shared_context.md
  shared_context.md
Due: none
