Repository josephedward/kubelingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-compile, prevent-question-data-deletion, run-cli-help

python-compile:
  name: Python Syntax Check
  entry: python -m compileall .
  language: system

prevent-question-data-deletion:
  name: Prevent deletion of quiz data files
  entry: 'bash -c "if git diff --cached --diff-filter=D --name-only | grep -E ''^(question-data/.*\.(yaml|yml)|question-data-backup/.*\.(yaml|yml))$''; then echo ''Error: Deletion of quiz data is prohibited.''; exit 1; fi"
  
    '
  language: system
  stages:
  ...

run-cli-help:
  name: Ensure Kubelingo CLI runs without error
  entry: 'bash -c "python -m kubelingo.cli --help"
  
    '
  language: system

fix: Revert quiz loop to use single question generation
  kubelingo/modules/kubernetes/study_mode.py
Due: python-compile, run-cli-help

refactor: Remove max_attempts_per_question from AIQuestionGenerator
  kubelingo/modules/question_generator.py
Due: python-compile, run-cli-help

fix: Revert study mode to load quizzes from YAML files
  kubelingo/modules/kubernetes/study_mode.py
Due: python-compile, run-cli-help

feat: Add file deduplicator script
  scripts/deduplicator.py
Due: python-compile, run-cli-help

feat: Add `deduplicate-files` command to question manager
  scripts/question_manager.py
Due: python-compile, run-cli-help

feat: Deduplicate questions by semantic similarity with threshold
  scripts/question_manager.py
Due: python-compile, run-cli-help

fix: Use answers for question deduplication and fix YAML loading
  scripts/question_manager.py
Due: python-compile, run-cli-help

feat: Deduplicate questions by answer content
  scripts/question_manager.py
Due: python-compile, run-cli-help

refactor: Deduplicate questions by exact answer, resolve YAML parse warnings
  scripts/question_manager.py
Due: python-compile, run-cli-help

feat: add utilities to load YAML files and detect duplicate answers
  kubelingo/utils/path_utils.py
  kubelingo/utils/validation.py
Due: python-compile, run-cli-help

feat: add script to remove duplicate YAML files based on "answer" field
  scripts/remove_duplicates.py
Due: python-compile, run-cli-help

feat: Enhance answer extraction for robust question deduplication
  scripts/question_manager.py
Due: python-compile, run-cli-help

feat: Enhance deduplication with checksum option and YAML fix
  scripts/question_manager.py
Due: python-compile, run-cli-help

refactor: integrate duplicate removal into question_manager CLI and delete script
  scripts/question_manager.py
  scripts/remove_duplicates.py
Due: python-compile, run-cli-help

fix: Lazily load AIQuestionGenerator to resolve ImportError
  scripts/question_manager.py
Due: python-compile, run-cli-help

Update sample_questions.yaml
  test_data/sample_questions.yaml
Due: prevent-question-data-deletion

fix: remove invalid import and references to validate_kubectl_syntax
  kubelingo/modules/question_generator.py
Due: python-compile, run-cli-help

Delete resource_reference.yaml
  yaml/manifests/resource_reference.yaml
Due: prevent-question-data-deletion

Delete deduplicator.py
  scripts/deduplicator.py
Due: python-compile, run-cli-help

feat: Enhance file deduplication with checksum and improved answer matching
  scripts/question_manager.py
Due: python-compile, run-cli-help

fix: implement and register remove-duplicates command for YAML files
  scripts/question_manager.py
Due: python-compile, run-cli-help

fix: Rename remove-duplicates to deduplicate-files; suggest git rm
  scripts/question_manager.py
Due: python-compile, run-cli-help

fix: handle duplicate answers in find_duplicate_answers function
  kubelingo/utils/validation.py
Due: python-compile, run-cli-help

fix: Improve question deduplication by parsing YAML answers
  scripts/question_manager.py
Due: python-compile, run-cli-help

fix: Improve question deduplication argument parsing and YAML loading
  scripts/question_manager.py
Due: python-compile, run-cli-help

fix: correct CLI command usage in question_manager script
  Run the following command instead
Due: none

fix: handle nested and repeated "answers" fields in duplicate detection
  kubelingo/utils/validation.py
Due: python-compile, run-cli-help

fix: normalize answers to detect duplicates in YAML validation
  kubelingo/utils/validation.py
Due: python-compile, run-cli-help

Fix: Correct duplicate file detection in question manager
  scripts/question_manager.py
Due: python-compile, run-cli-help

fix: Make answer comparison case-insensitive for deduplication
  scripts/question_manager.py
Due: python-compile, run-cli-help

test duplicates
  .gitignore
  questions/ai_generated/064ee35a-6c0c-4c9a-8396-eaa8f00128a0.yaml
  questions/ai_generated/284e9212-551b-47d6-a289-14cf5e8a75be.yaml
  questions/ai_generated/289deec0-a292-4804-822d-ea6d2788861e.yaml
  questions/ai_generated/43740146-5398-488b-9c05-1f6e5e43afba.yaml
  questions/ai_generated/486a56dd-c764-4ed9-a476-1c8d2dc350e0.yaml
  questions/ai_generated/6bb11af1-1b4f-4927-ae85-19b3e54ba969.yaml
  questions/ai_generated/6d2b4224-7e1e-4679-b1e8-cc6c1a990edb.yaml
  questions/ai_generated/7f6c12cd-a704-4f0a-80b6-7c6f1cf52ad1.yaml
  questions/ai_generated/97f0aee4-2ec9-456d-af2c-878c61b95358.yaml
  questions/ai_generated/9f94ff57-ec37-4d9f-8401-91aa27c10776.yaml
  questions/ai_generated/a463f9b4-e222-4f74-9520-e7b84059a3f2.yaml
  questions/ai_generated/b190fe18-51e9-4ea2-999c-0b659a59115e.yaml
  questions/ai_generated/e0abd0ed-e29e-438b-9669-3ad3f42ac900.yaml
  questions/ai_generated/e3932fcc-b607-4a4b-9c14-3b4023eb7872.yaml
  questions/ai_generated/f73e7760-cd7c-43e8-bf3f-4c7d5c502791.yaml
Due: prevent-question-data-deletion

chore: remove duplicate YAML files based on unique answers
  questions/ai_generated/284e9212-551b-47d6-a289-14cf5e8a75be.yaml
  questions/ai_generated/43740146-5398-488b-9c05-1f6e5e43afba.yaml
  questions/ai_generated/7f6c12cd-a704-4f0a-80b6-7c6f1cf52ad1.yaml
  questions/ai_generated/97f0aee4-2ec9-456d-af2c-878c61b95358.yaml
  questions/ai_generated/9f94ff57-ec37-4d9f-8401-91aa27c10776.yaml
  questions/ai_generated/b190fe18-51e9-4ea2-999c-0b659a59115e.yaml
  questions/ai_generated/e0abd0ed-e29e-438b-9669-3ad3f42ac900.yaml
  questions/ai_generated/e3932fcc-b607-4a4b-9c14-3b4023eb7872.yaml
  questions/ai_generated/f73e7760-cd7c-43e8-bf3f-4c7d5c502791.yaml
Due: prevent-question-data-deletion

Delete remove_duplicates.py
  scripts/remove_duplicates.py
Due: python-compile, run-cli-help

fix: handle single question YAML format in deduplication
  scripts/question_manager.py
Due: python-compile, run-cli-help

chore: Remove deduplicate-files command from question manager script
  scripts/question_manager.py
Due: python-compile, run-cli-help

scripts
  questions/ai_generated/284e9212-551b-47d6-a289-14cf5e8a75be.yaml
  questions/ai_generated/43740146-5398-488b-9c05-1f6e5e43afba.yaml
  questions/ai_generated/7f6c12cd-a704-4f0a-80b6-7c6f1cf52ad1.yaml
  questions/ai_generated/97f0aee4-2ec9-456d-af2c-878c61b95358.yaml
  questions/ai_generated/9f94ff57-ec37-4d9f-8401-91aa27c10776.yaml
  questions/ai_generated/b190fe18-51e9-4ea2-999c-0b659a59115e.yaml
  questions/ai_generated/e0abd0ed-e29e-438b-9669-3ad3f42ac900.yaml
  questions/ai_generated/e3932fcc-b607-4a4b-9c14-3b4023eb7872.yaml
  questions/ai_generated/f73e7760-cd7c-43e8-bf3f-4c7d5c502791.yaml
Due: prevent-question-data-deletion

refactor: Remove handle_deduplicate_files function
  scripts/question_manager.py
Due: python-compile, run-cli-help

yaml
  yaml/064ee35a-6c0c-4c9a-8396-eaa8f00128a0.yaml
  yaml/289deec0-a292-4804-822d-ea6d2788861e.yaml
  yaml/486a56dd-c764-4ed9-a476-1c8d2dc350e0.yaml
  yaml/6bb11af1-1b4f-4927-ae85-19b3e54ba969.yaml
  yaml/6d2b4224-7e1e-4679-b1e8-cc6c1a990edb.yaml
  yaml/a463f9b4-e222-4f74-9520-e7b84059a3f2.yaml
  yaml/apps/ollama/deployment.yaml
  yaml/apps/ollama/pvc.yaml
  yaml/apps/ollama/service.yaml
  yaml/questions/backups/consolidated_20250811_142924.yaml
  yaml/questions/backups/consolidated_20250811_144940.yaml
  yaml/questions/backups/consolidated_20250812_100819.yaml
  yaml/questions/kubectl_operations.yaml
  yaml/questions/resource_reference.yaml
Due: prevent-question-data-deletion

docs: Add Rust integration section to README
  README.md
Due: none

feat: add function to organize YAML files based on content
  kubelingo/utils/path_utils.py
Due: python-compile, run-cli-help

Path conditions:
  python-compile: any of: \.py$
  prevent-question-data-deletion: any of: \.(yaml|yml)$
  run-cli-help: any of: \.py$
