Repository josephedward/kubelingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-compile, prevent-question-data-deletion, run-cli-help

python-compile:
  name: Python Syntax Check
  entry: python -m compileall .
  language: system

prevent-question-data-deletion:
  name: Prevent deletion of quiz data files
  entry: 'bash -c "if git diff --cached --diff-filter=D --name-only | grep -E ''^(question-data/.*\.(yaml|yml)|question-data-backup/.*\.(yaml|yml))$''; then echo ''Error: Deletion of quiz data is prohibited.''; exit 1; fi"
  
    '
  language: system
  stages:
  ...

run-cli-help:
  name: Ensure Kubelingo CLI runs without error
  entry: 'bash -c "python -m kubelingo.cli --help"
  
    '
  language: system

Update test_kubelingo_functions.py
  tests/test_kubelingo_functions.py
Due: python-compile, run-cli-help

Update commands_args_env.yaml
  questions/commands_args_env.yaml
Due: prevent-question-data-deletion

Update helm_basics.yaml
  questions/helm_basics.yaml
Due: prevent-question-data-deletion

Update image_registry_use.yaml
  questions/image_registry_use.yaml
Due: prevent-question-data-deletion

Update kubelingo.py
  kubelingo/kubelingo.py
Due: python-compile, run-cli-help

Update publish.yml
  .github/workflows/publish.yml
Due: prevent-question-data-deletion

commit
  .gitignore
  kubelingo/kubelingo.py
  kubelingo_demo.cast
  questions/api_discovery_docs.yaml
  questions/app_configuration.yaml
  questions/commands_args_env.yaml
  questions/core_workloads.yaml
  questions/helm_basics.yaml
  questions/image_registry_use.yaml
  questions/imperative_vs_declarative.yaml
  questions/ingress_http_routing.yaml
  questions/jobs_cronjobs.yaml
  questions/kubectl_common_operations.yaml
  questions/kubectl_operations.yaml
  questions/labels_annotations_selectors.yaml
  questions/linux_syntax.yaml
  questions/namespaces_contexts.yaml
  questions/networking_utilities.yaml
  questions/observability_troubleshooting.yaml
  questions/persistence.yaml
  questions/pod_design_patterns.yaml
  questions/probes_health.yaml
  questions/resource_management.yaml
  questions/resource_reference.yaml
  questions/scheduling_hints.yaml
  questions/security_basics.yaml
  questions/service_accounts_in_apps.yaml
  questions/services.yaml
  scripts/review_similar_questions.py
  tests/test_kubelingo.py
  tests/test_kubelingo_functions.py
Due: python-compile, prevent-question-data-deletion, run-cli-help

style: Format YAML files for improved readability and consistency
  questions/image_registry_use.yaml
  questions/imperative_vs_declarative.yaml
  questions/security_basics.yaml
  questions/service_accounts_in_apps.yaml
Due: prevent-question-data-deletion

fix: Improve YAML formatting in solution manifests
  questions/image_registry_use.yaml
  questions/imperative_vs_declarative.yaml
  questions/security_basics.yaml
  questions/service_accounts_in_apps.yaml
Due: prevent-question-data-deletion

q format
  questions/api_discovery_docs.yaml
  questions/app_configuration.yaml
  questions/commands_args_env.yaml
  questions/core_workloads.yaml
  questions/helm_basics.yaml
  questions/ingress_http_routing.yaml
  questions/jobs_cronjobs.yaml
  questions/kubectl_common_operations.yaml
  questions/kubectl_operations.yaml
  questions/labels_annotations_selectors.yaml
  questions/linux_syntax.yaml
  questions/namespaces_contexts.yaml
  questions/networking_utilities.yaml
  questions/observability_troubleshooting.yaml
  questions/persistence.yaml
  questions/pod_design_patterns.yaml
  questions/probes_health.yaml
  questions/resource_management.yaml
  questions/resource_reference.yaml
  questions/scheduling_hints.yaml
  questions/services.yaml
Due: prevent-question-data-deletion

style: switch ASCII art colors to green and blue
  kubelingo/kubelingo.py
Due: python-compile, run-cli-help

fix: Initialize normalized_user_answer_string to prevent UnboundLocalError
  kubelingo/kubelingo.py
Due: python-compile, run-cli-help

fix: Correct undefined variable by loading missed questions list
  kubelingo/kubelingo.py
Due: python-compile, run-cli-help

feat: add OpenRouter API support
  kubelingo/kubelingo.py
Due: python-compile, run-cli-help

chore: remove OpenRouter API key support
  kubelingo/kubelingo.py
Due: python-compile, run-cli-help

feat: add OpenRouter API key configuration support
  kubelingo/kubelingo.py
Due: python-compile, run-cli-help

Path conditions:
  python-compile: any of: \.py$
  prevent-question-data-deletion: any of: \.(yaml|yml)$
  run-cli-help: any of: \.py$
