Repository josephedward/kubelingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-compile, prevent-question-data-deletion, run-cli-help

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: python-compile
        name: Python Syntax Check
        entry: python -m compileall .
        language: system
        types: [python]
      - id: prevent-question-data-deletion
        name: Prevent deletion of quiz data files
        entry: |
          bash -c "if git diff --cached --diff-filter=D --name-only | grep -E '^(question-data/.*\.(yaml|yml)|question-data-backup/.*\.(yaml|yml))$'; then echo 'Error: Deletion of quiz data is prohibited.'; exit 1; fi"
        language: system
        types: [yaml]
        stages: [pre-commit]
      - id: run-cli-help
        name: Ensure Kubelingo CLI runs without error
        entry: |
          bash -c "python -m kubelingo.cli --help"
        language: system
        types: [python]

Update question_generator.py
  kubelingo/question_generator.py
Due: python-compile, run-cli-help

Update utils.py
  kubelingo/utils.py
Due: python-compile, run-cli-help

Update validation.py
  kubelingo/validation.py
Due: python-compile, run-cli-help

Update api_discovery_docs.yaml
  questions/api_discovery_docs.yaml
Due: prevent-question-data-deletion

Update app_configuration.yaml
  questions/app_configuration.yaml
Due: prevent-question-data-deletion

Update commands_args_env.yaml
  questions/commands_args_env.yaml
Due: prevent-question-data-deletion

Update core_workloads.yaml
  questions/core_workloads.yaml
Due: prevent-question-data-deletion

Update image_registry_use.yaml
  questions/image_registry_use.yaml
Due: prevent-question-data-deletion

Update test_issue_manager.py
  tests/test_issue_manager.py
Due: python-compile, run-cli-help

Update test_kubelingo.py
  tests/test_kubelingo.py
Due: python-compile, run-cli-help

Update test_question_generator.py
  tests/test_question_generator.py
Due: python-compile, run-cli-help

Update test_source.py
  tests/test_source.py
Due: python-compile, run-cli-help

Update test_utils.py
  tests/test_utils.py
Due: python-compile, run-cli-help

Update test_validation.py
  tests/test_validation.py
Due: python-compile, run-cli-help

Update conftest.py
  tests/conftest.py
Due: python-compile, run-cli-help

Update .gitignore
  .gitignore
Due: none

Update performance.yaml
  user_data/performance.yaml
Due: prevent-question-data-deletion

Create record_generate_question.sh
  scripts/record_generate_question.sh
Due: none

Create upload_casts.sh
  scripts/upload_casts.sh
Due: none

Update upload_casts.sh
  scripts/upload_casts.sh
Due: none
