Repository josephedward/kubelingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-compile, prevent-question-data-deletion, run-cli-help

python-compile:
  name: Python Syntax Check
  entry: python -m compileall .
  language: system

prevent-question-data-deletion:
  name: Prevent deletion of quiz data files
  entry: 'bash -c "if git diff --cached --diff-filter=D --name-only | grep -E ''^(question-data/.*\.(yaml|yml)|question-data-backup/.*\.(yaml|yml))$''; then echo ''Error: Deletion of quiz data is prohibited.''; exit 1; fi"
  
    '
  language: system
  stages:
  ...

run-cli-help:
  name: Ensure Kubelingo CLI runs without error
  entry: 'bash -c "python -m kubelingo.cli --help"
  
    '
  language: system

Create logging.yaml
  questions/logging.yaml
Due: prevent-question-data-deletion

Update test_schema_consistency.py
  tests/test_schema_consistency.py
Due: python-compile, run-cli-help

Create test_requirements_extraction.py
  tests/test_requirements_extraction.py
Due: python-compile, run-cli-help

Update normalize_static_questions.py
  scripts/normalize_static_questions.py
Due: python-compile, run-cli-help

Update test_requirements_extraction.py
  tests/test_requirements_extraction.py
Due: python-compile, run-cli-help

mv qs
  data/questions/api_discovery_docs.yaml
  data/questions/app_configuration.yaml
  data/questions/commands_args_env.yaml
  data/questions/configmap.yaml
  data/questions/core_workloads.yaml
  data/questions/deployment.yaml
  data/questions/helm_basics.yaml
  data/questions/image_registry_use.yaml
  data/questions/imperative_vs_declarative.yaml
  data/questions/ingress_http_routing.yaml
  data/questions/job.yaml
  data/questions/jobs_cronjobs.yaml
  data/questions/kubectl_common_operations.yaml
  data/questions/kubectl_operations.yaml
  data/questions/labels_annotations_selectors.yaml
  data/questions/linux_commands.yaml
  data/questions/linux_syntax.yaml
  data/questions/logging.yaml
  data/questions/namespaces_contexts.yaml
  data/questions/networking_utilities.yaml
  data/questions/observability_troubleshooting.yaml
  data/questions/persistence.yaml
  data/questions/pod.yaml
  data/questions/pod_design_patterns.yaml
  data/questions/probes_health.yaml
  data/questions/pvc.yaml
  data/questions/resource_management.yaml
  data/questions/resource_reference.yaml
  data/questions/scheduling_hints.yaml
  data/questions/secret.yaml
  data/questions/security_basics.yaml
  data/questions/service.yaml
  data/questions/service_accounts_in_apps.yaml
  data/questions/services.yaml
  questions/linux_commands.yaml
  questions/logging.yaml
Due: prevent-question-data-deletion

docs
  docs/ai-integration-roadmap.md
  docs/question-schema.md
  docs/question_generation_tools.md
  docs/roadmap.md
  docs/search.md
  docs/shared_context.md
Due: none

generation
  kubelingo/generation/__init__.py
  kubelingo/generation/difficulty.py
  kubelingo/generation/generator.py
Due: python-compile, run-cli-help

Create grader.py
  kubelingo/generation/grader.py
Due: python-compile, run-cli-help

Update issue_manager.py
  kubelingo/issue_manager.py
Due: python-compile, run-cli-help

Revert "Update issue_manager.py"
  kubelingo/issue_manager.py
Due: python-compile, run-cli-help

imports
  kubelingo/performance_tracker.py
  kubelingo/source_manager.py
  kubelingo/utils.py
  kubelingo/validation.py
Due: python-compile, run-cli-help

Create consolidated_docs.md
  docs/consolidated_docs.md
Due: none

tests
  tests/test_cli_answer_integration.py
  tests/test_cli_generation_integration.py
  tests/test_generation_generator.py
  tests/test_generation_grader.py
Due: python-compile, run-cli-help

Update utils.py
  kubelingo/utils.py
Due: python-compile, run-cli-help

build: Add runtime deps for CLI, AI and HTTP interfaces, remove py2 subprocess32
  requirements.txt
Due: none

Update validation.py
  kubelingo/validation.py
Due: python-compile, run-cli-help

Path conditions:
  python-compile: any of: \.py$
  prevent-question-data-deletion: any of: \.(yaml|yml)$
  run-cli-help: any of: \.py$
