Repository josephedward/kubelingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-compile, prevent-question-data-deletion, run-cli-help

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: python-compile
        name: Python Syntax Check
        entry: python -m compileall .
        language: system
        types: [python]
      - id: prevent-question-data-deletion
        name: Prevent deletion of quiz data files
        entry: |
          bash -c "if git diff --cached --diff-filter=D --name-only | grep -E '^(question-data/.*\.(yaml|yml)|question-data-backup/.*\.(yaml|yml))$'; then echo 'Error: Deletion of quiz data is prohibited.'; exit 1; fi"
        language: system
        types: [yaml]
        stages: [pre-commit]
      - id: run-cli-help
        name: Ensure Kubelingo CLI runs without error
        entry: |
          bash -c "python -m kubelingo.cli --help"
        language: system
        types: [python]

refactor: Reorganize and streamline quiz module definitions
  kubelingo/utils/config.py
Due: python-compile, run-cli-help

refactor: Restructure and consolidate quiz categories
  kubelingo/utils/config.py
Due: python-compile, run-cli-help

fix: Correct quiz file paths and re-map Vim/Uncategorized quizzes
  kubelingo/utils/config.py
Due: python-compile, run-cli-help

fix: Standardize Service Account Ops question format
  question-data/questions/service_account_operations.yaml
  question-data/yaml/kubectl_service_account_ops_quiz.yaml
Due: prevent-question-data-deletion

refactor: Rename 'prompt' to 'question' for SA operations
  question-data/questions/service_account_operations.yaml
Due: prevent-question-data-deletion

feat: Add subject column for question categorization
  kubelingo/database.py
Due: python-compile, run-cli-help

feat: Add question subject classification and schema updates
  kubelingo/question.py
Due: python-compile, run-cli-help

feat: Add validation for subject matter category
  kubelingo/database.py
Due: python-compile, run-cli-help

refactor: Align question subject DB check with enum
  kubelingo/database.py
Due: python-compile, run-cli-help

refactor: Consolidate and expand quiz question data
  question-data/questions/configmap_operations.yaml
  question-data/questions/deployment_management.yaml
  question-data/questions/helm_basics.yaml
  question-data/questions/pod_management.yaml
  question-data/questions/secret_management.yaml
  question-data/questions/syntax_shell_setup.yaml
Due: prevent-question-data-deletion

docs: Add outline for maintenance and troubleshooting scripts
  docs/maintenance_scripts.md
Due: none

docs: Outline database and question maintenance scripts
  docs/maintenance_scripts.md
Due: none

feat: Implement AI-driven two-level question categorization
  scripts/reorganize_questions_by_schema.py
Due: python-compile, run-cli-help

feat: Add predefined subject-matter categories for questions
  kubelingo/utils/config.py
Due: python-compile, run-cli-help

fix: Prevent database deletion and improve question categorization
  kubelingo/utils/config.py
  scripts/legacy/build_question_db.py
  scripts/reorganize_questions.py
Due: python-compile, run-cli-help

feat: Allow multiple actions in troubleshooting menu; update migration script
  kubelingo/cli.py
Due: python-compile, run-cli-help

fix: Prevent data loss by making DB restore a merge & build non-destructive
  kubelingo/cli.py
  kubelingo/database.py
  scripts/legacy/build_question_db.py
Due: python-compile, run-cli-help

fix: Correct f-string quoting in system prompt
  scripts/reorganize_questions_by_schema.py
Due: python-compile, run-cli-help

feat: Add scripts to manage and inspect YAML backups
  scripts/locate_yaml_backups.py
  scripts/yaml_backup_stats.py
Due: python-compile, run-cli-help

feat: Add scripts for YAML backup discovery and stats
  scripts/locate_yaml_backups.py
  scripts/yaml_backup_stats.py
  shared_context.md
Due: python-compile, run-cli-help

refactor: Remove unnecessary 'Press Enter' prompts for smoother UX.
  kubelingo/modules/kubernetes/session.py
Due: python-compile, run-cli-help

fix: Load questions from DB using file basename
  kubelingo/modules/kubernetes/session.py
Due: python-compile, run-cli-help

fix: Repair corrupted YAML backup utility scripts
  scripts/locate_yaml_backups.py
  scripts/yaml_backup_stats.py
Due: python-compile, run-cli-help

fix: Update build scripts for OpenAI API v1 and DB connection
  scripts/legacy/build_question_db.py
  scripts/reorganize_questions.py
Due: python-compile, run-cli-help

docs: Document YAML backup script test results
  shared_context.md
Due: none

feat: Analyze YAML quiz file for total and category counts
  scripts/yaml_backup_stats.py
Due: python-compile, run-cli-help

feat: Enhance backup scripts with CLI arguments and AI summary
  scripts/locate_yaml_backups.py
  shared_context.md
Due: python-compile, run-cli-help

feat: Add directory support, JSON, and AI summary to YAML stats
  scripts/yaml_backup_stats.py
Due: python-compile, run-cli-help

refactor: Update `yaml_backup_stats.py` to scan backup directory
  scripts/yaml_backup_stats.py
Due: python-compile, run-cli-help

docs: Add and improve YAML backup utility documentation
  scripts/yaml_backup_stats.py
  shared_context.md
Due: python-compile, run-cli-help

feat: Enhance backup stats and location scripts with AI and flexible options
  shared_context.md
Due: none

chore: remove unused pathlib import
  scripts/yaml_backup_stats.py
Due: python-compile, run-cli-help

docs: Update YAML backup utility usage documentation
  scripts/yaml_backup_stats.py
  shared_context.md
Due: python-compile, run-cli-help

feat: Add script to export DB to YAML and enhance backup locator
  scripts/export_db_to_yaml.py
  scripts/locate_yaml_backups.py
Due: python-compile, run-cli-help

feat: Add YAML database export and restore scripts
  scripts/export_db_to_yaml.py
  scripts/restore_yaml_to_db.py
Due: python-compile, run-cli-help

docs: Update locate_yaml_backups.py documentation for multi-directory scan
  shared_context.md
Due: none

Refactor: Update backup scripts for robustness and correct stats
  scripts/export_db_to_yaml.py
  scripts/restore_yaml_to_db.py
  scripts/yaml_backup_stats.py
Due: python-compile, run-cli-help

fix: Migrate to new OpenAI API client and import Counter
  scripts/locate_yaml_backups.py
  scripts/yaml_backup_stats.py
Due: python-compile, run-cli-help

fix: Prevent links argument error and fix subject classification
  scripts/legacy/build_question_db.py
  scripts/reorganize_questions.py
Due: python-compile, run-cli-help

fix: Correct AI-generated schema type matching logic
  scripts/reorganize_questions.py
Due: python-compile, run-cli-help
