Repository josephedward/kubelingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-compile, prevent-question-data-deletion, run-cli-help

python-compile:
  name: Python Syntax Check
  entry: python -m compileall .
  language: system

prevent-question-data-deletion:
  name: Prevent deletion of quiz data files
  entry: 'bash -c "if git diff --cached --diff-filter=D --name-only | grep -E ''^(question-data/.*\.(yaml|yml)|question-data-backup/.*\.(yaml|yml))$''; then echo ''Error: Deletion of quiz data is prohibited.''; exit 1; fi"
  
    '
  language: system
  stages:
  ...

run-cli-help:
  name: Ensure Kubelingo CLI runs without error
  entry: 'bash -c "python -m kubelingo.cli --help"
  
    '
  language: system

Create persistence.yaml
  kubelingo/questions/persistence.yaml
Due: prevent-question-data-deletion

Delete persistence.yaml
  kubelingo/questions/persistence.yaml
Due: prevent-question-data-deletion

tests
  tests/test_requirements_validation.py
  tests/test_schema_consistency.py
Due: python-compile, run-cli-help

Create normalize_static_questions.py
  scripts/normalize_static_questions.py
Due: python-compile, run-cli-help

Update utils.py
  kubelingo/utils.py
Due: python-compile, run-cli-help

Update kubelingo.py
  kubelingo/kubelingo.py
Due: python-compile, run-cli-help

Update validation.py
  kubelingo/validation.py
Due: python-compile, run-cli-help

feat: add logging questions with commands, manifests, and trivia
  kubelingo/questions/logging.yaml
Due: prevent-question-data-deletion

feat: Add logging practice questions
  kubelingo/questions/logging.yaml
Due: prevent-question-data-deletion

Create ai-integration-roadmap.md
  docs/ai-integration-roadmap.md
Due: none

Create linux_commands.yaml
  questions/linux_commands.yaml
Due: prevent-question-data-deletion

Create test_backup_performance.py
  tests/test_backup_performance.py
Due: python-compile, run-cli-help

Create test_validate_manifest_with_llm.py
  tests/test_validate_manifest_with_llm.py
Due: python-compile, run-cli-help

Update test_validation.py
  tests/test_validation.py
Due: python-compile, run-cli-help

Create question-schema.md
  docs/question-schema.md
Due: none

Delete logging.yaml
  kubelingo/questions/logging.yaml
Due: prevent-question-data-deletion

Path conditions:
  python-compile: any of: \.py$
  prevent-question-data-deletion: any of: \.(yaml|yml)$
  run-cli-help: any of: \.py$
