Repository josephedward/kubelingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-compile, prevent-question-data-deletion, run-cli-help

python-compile:
  name: Python Syntax Check
  entry: python -m compileall .
  language: system

prevent-question-data-deletion:
  name: Prevent deletion of quiz data files
  entry: 'bash -c "if git diff --cached --diff-filter=D --name-only | grep -E ''^(question-data/.*\.(yaml|yml)|question-data-backup/.*\.(yaml|yml))$''; then echo ''Error: Deletion of quiz data is prohibited.''; exit 1; fi"
  
    '
  language: system
  stages:
  ...

run-cli-help:
  name: Ensure Kubelingo CLI runs without error
  entry: 'bash -c "python -m kubelingo.cli --help"
  
    '
  language: system

Update cli.py
  cli.py
Due: python-compile, run-cli-help

Update k8s_manifest_generator.py
  k8s_manifest_generator.py
Due: python-compile, run-cli-help

Delete roadmap_plan.md
  legacy/docs/roadmap_plan.md
Due: none

Create pytest.ini
  pytest.ini
Due: none

Create roadmap_plan.md
  roadmap_plan.md
Due: none

feat: add interactive quiz modes and expand question templates
  cli.py
  question_generator.py
Due: python-compile, run-cli-help

refactor: remove difficulty level handling from quiz system
  cli.py
  question_generator.py
Due: python-compile, run-cli-help

feat: add difficulty-based pod generation and integrate into quiz flows
  cli.py
Due: python-compile, run-cli-help

fix: Correct undefined variables and remove difficulty level references
  cli.py
Due: python-compile, run-cli-help

refactor: remove difficulty-based question and manifest generation
  cli.py
  question_generator.py
Due: python-compile, run-cli-help

fix: Fix undefined variable and syntax error in pod template generation
  cli.py
  question_generator.py
Due: python-compile, run-cli-help

Create .vimrc
  .vimrc
Due: none

Create .coverage
  .coverage
Due: none

docs
  docs/gemini_api_examples.md
  docs/openrouter_api_calls.md
  docs/perplexity_api_examples.md
  docs/url_list.md
Due: none

tests
  tests/test_ai_chat.py
  tests/test_cli_commands.py
  tests/test_cli_fallback.py
  tests/test_cli_generate_command_secrets.py
  tests/test_cli_main.py
  tests/test_cli_manifest_quiz_flow.py
  tests/test_cli_menu.py
  tests/test_cli_menu_definitions.py
  tests/test_cli_no_duplicate_post_question_menu.py
  tests/test_cli_print_menus.py
  tests/test_cli_quiz_delete_new_question.py
  tests/test_cli_quiz_flow.py
  tests/test_cli_quiz_menu.py
  tests/test_cli_review.py
  tests/test_cli_static_quiz.py
  tests/test_cli_suggestions.py
  tests/test_cli_wrapper.py
  tests/test_command_generation.py
  tests/test_command_prompt.py
  tests/test_diversity.py
  tests/test_menu_order.py
  tests/test_perplexity.py
  tests/test_post_answer_menu.py
  tests/test_post_answer_menu_updated.py
  tests/test_question_context_vars.py
  tests/test_question_details.py
  tests/test_question_diversity.py
  tests/test_question_generator_topics.py
  tests/test_trivia.py
  tests/test_two_step_question_mode.py
Due: python-compile, run-cli-help

scripts
  scripts/demo_gemini.py
  scripts/demo_openrouter.py
  scripts/run_gemini_trivia.sh
Due: python-compile, run-cli-help

Create pyproject.toml
  pyproject.toml
Due: none

index on (no branch): 560fe657 Create pyproject.toml
  docs/roadmap_plan.md
  docs/usage.md
Due: none

Create usage.md
  docs/usage.md
Due: none

Update question_generator.py
  question_generator.py
Due: python-compile, run-cli-help

Create menu_schema.md
  docs/menu_schema.md
Due: none

Recover WIP from stash@{0}
  .gitignore
  cli.py
  question_generator.py
Due: python-compile, run-cli-help

index on ai-k8s_090225: 82a84011 Update validation.py
  docs/roadmap_plan.md
Due: none

mangling git
  docs/roadmap_plan.md
  kubelingo/__main__.py
  kubelingo/kubelingo.py
  kubelingo/question_generator.py
  kubelingo/question_search.py
  kubelingo/study_session.py
  kubelingo/utils.py
  questions/app_configuration.yaml
  questions/services.yaml
  requirements.txt
  scripts/backup_performance_yaml.py
  scripts/question-mangage.py
  test/user_data/performance.yaml
  tests/test_cli_search_and_quality.py
  tests/test_issue_manager.py
  tests/test_kubelingo.py
  tests/test_performance.py
  tests/test_performance_data.py
  tests/test_question_generator.py
  tests/test_question_search.py
  tests/test_utils.py
  user_data/debug_question.yaml
Due: python-compile, prevent-question-data-deletion, run-cli-help

questions
  questions/uncategorized/api_discovery_docs.yaml
  questions/uncategorized/app_configuration.yaml
  questions/uncategorized/commands_args_env.yaml
  questions/uncategorized/configmap.yaml
  questions/uncategorized/core_workloads.yaml
  questions/uncategorized/deployment.yaml
  questions/uncategorized/helm_basics.yaml
  questions/uncategorized/image_registry_use.yaml
  questions/uncategorized/imperative_vs_declarative.yaml
  questions/uncategorized/ingress_http_routing.yaml
  questions/uncategorized/job.yaml
  questions/uncategorized/jobs_cronjobs.yaml
  questions/uncategorized/kubectl_common_operations.yaml
  questions/uncategorized/kubectl_operations.yaml
  questions/uncategorized/labels_annotations_selectors.yaml
  questions/uncategorized/linux_commands.yaml
  questions/uncategorized/linux_syntax.yaml
  questions/uncategorized/logging.yaml
  questions/uncategorized/namespaces_contexts.yaml
  questions/uncategorized/networking_utilities.yaml
  questions/uncategorized/observability_troubleshooting.yaml
  questions/uncategorized/persistence.yaml
  questions/uncategorized/pod.yaml
  questions/uncategorized/pod_design_patterns.yaml
  questions/uncategorized/pods.json
  questions/uncategorized/probes_health.yaml
  questions/uncategorized/pvc.yaml
  questions/uncategorized/resource_management.yaml
  questions/uncategorized/resource_reference.yaml
  questions/uncategorized/scheduling_hints.yaml
  questions/uncategorized/secret.yaml
  questions/uncategorized/security_basics.yaml
  questions/uncategorized/service.yaml
  questions/uncategorized/service_accounts_in_apps.yaml
  questions/uncategorized/services.yaml
Due: prevent-question-data-deletion

Update roadmap_plan.md
  docs/roadmap_plan.md
Due: none

Path conditions:
  python-compile: any of: \.py$
  prevent-question-data-deletion: any of: \.(yaml|yml)$
  run-cli-help: any of: \.py$
