Repository josephedward/kubelingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-compile, prevent-question-data-deletion, run-cli-help

python-compile:
  name: Python Syntax Check
  entry: python -m compileall .
  language: system

prevent-question-data-deletion:
  name: Prevent deletion of quiz data files
  entry: 'bash -c "if git diff --cached --diff-filter=D --name-only | grep -E ''^(question-data/.*\.(yaml|yml)|question-data-backup/.*\.(yaml|yml))$''; then echo ''Error: Deletion of quiz data is prohibited.''; exit 1; fi"
  
    '
  language: system
  stages:
  ...

run-cli-help:
  name: Ensure Kubelingo CLI runs without error
  entry: 'bash -c "python -m kubelingo.cli --help"
  
    '
  language: system

Create test_cli_open_manifest_editor.py
  tests/test_cli_open_manifest_editor.py
Due: python-compile, run-cli-help

questions
  questions/correct/1678ff7e.json
  questions/correct/29286960.json
  questions/correct/54ccba93.json
  questions/correct/7e9dcc49.json
  questions/correct/8e47ecbb.json
  questions/correct/b27ea0da.json
  questions/missed/01e01d75.json
  questions/missed/3ea100be.json
  questions/missed/7677078c.json
  questions/missed/caf40849.json
Due: none

Update question_generator.py
  kubelingo/question_generator.py
Due: python-compile, run-cli-help

Update test_cli_manifest_quiz_flow.py
  tests/test_cli_manifest_quiz_flow.py
Due: python-compile, run-cli-help

Update cli.py
  kubelingo/cli.py
Due: python-compile, run-cli-help

tests
  tests/test_cli_manifest_quiz_flow.py
  tests/test_quiz_flow_consistency.py
Due: python-compile, run-cli-help

tests
  tests/test_cli_fallback.py
  tests/test_cli_manifest_quiz_flow.py
  tests/test_cli_manifest_vim_flow.py
  tests/test_quiz_flow_consistency.py
Due: python-compile, run-cli-help

questions
  questions/correct/0e78c29a.json
  questions/correct/16d2ce32.json
  questions/correct/a68dbef6.json
  questions/correct/dc1cb1db.json
  questions/missed/db9ccffe.json
Due: none

Update test_cli_manifest_vim_flow.py
  tests/test_cli_manifest_vim_flow.py
Due: python-compile, run-cli-help

questions
  questions/correct/0c76bf25.json
  questions/correct/24b634cf.json
  questions/correct/401f3ca8.json
  questions/correct/5fbce5b8.json
  questions/correct/a75c8474.json
  questions/correct/b812423d.json
  questions/correct/d9cf0bf2.json
  questions/missed/5ee663fd.json
  questions/missed/850e227d.json
Due: none

tests
  tests/test_cli_input_override.py
  tests/test_cli_static_quiz.py
Due: python-compile, run-cli-help

Update backend_integrator.py
  kubelingo/backend_integrator.py
Due: python-compile, run-cli-help

Update llm_utils.py
  kubelingo/llm_utils.py
Due: python-compile, run-cli-help

Update k8s_manifest_generator.py
  kubelingo/k8s_manifest_generator.py
Due: python-compile, run-cli-help

Update requirements.md
  requirements.md
Due: none

tests
  tests/test_cli_manifest_quiz_flow.py
  tests/test_manifest.yaml
  tests/test_manifest_no_changes.yaml
  tests/tmpitrpfcxn.yaml
Due: python-compile, prevent-question-data-deletion, run-cli-help

tests
  tests/test_cli_commands.py
  tests/test_cli_fallback.py
  tests/test_cli_main.py
  tests/test_cli_menu.py
  tests/test_cli_menu_flow.py
  tests/test_cli_quiz_delete_new_question.py
  tests/test_cli_quiz_flow.py
  tests/test_cli_review.py
  tests/test_menu_order.py
  tests/test_question_diversity.py
  tests/test_question_generator.py
  tests/tmpitrpfcxn.yaml
Due: python-compile, prevent-question-data-deletion, run-cli-help

Create 7b15a21d.json
  questions/missed/7b15a21d.json
Due: none

Create cbf746dd.json
  questions/correct/cbf746dd.json
Due: none

Update roadmap_plan.md
  docs/roadmap_plan.md
Due: none

Update importer.py
  kubelingo/importer.py
Due: python-compile, run-cli-help

Create a33412c6.json
  questions/correct/a33412c6.json
Due: none

Create bbbf625f.json
  questions/correct/bbbf625f.json
Due: none

Path conditions:
  python-compile: any of: \.py$
  prevent-question-data-deletion: any of: \.(yaml|yml)$
  run-cli-help: any of: \.py$
