Repository josephedward/kubelingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-compile, prevent-question-data-deletion, run-cli-help

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: python-compile
        name: Python Syntax Check
        entry: python -m compileall .
        language: system
        types: [python]
      - id: prevent-question-data-deletion
        name: Prevent deletion of quiz data files
        entry: |
          bash -c "if git diff --cached --diff-filter=D --name-only | grep -E '^(question-data/.*\.(yaml|yml)|question-data-backup/.*\.(yaml|yml))$'; then echo 'Error: Deletion of quiz data is prohibited.'; exit 1; fi"
        language: system
        types: [yaml]
        stages: [pre-commit]
      - id: run-cli-help
        name: Ensure Kubelingo CLI runs without error
        entry: |
          bash -c "python -m kubelingo.cli --help"
        language: system
        types: [python]

Create pyproject.toml
  pyproject.toml
Due: none

Create README.md
  README.md
Due: none

feat: Support OpenAI and refactor CLI with Click
  kubelingo/kubelingo.py
Due: python-compile, run-cli-help

fix: Remove problematic apostrophes from string literals
  kubelingo/kubelingo.py
Due: python-compile, run-cli-help

fix: Close unterminated ASCII art string literal
  kubelingo/kubelingo.py
Due: python-compile, run-cli-help

Update core_workloads.yaml
  questions/core_workloads.yaml
Due: prevent-question-data-deletion

Update .gitignore
  .gitignore
Due: none

Update test_kubelingo.py
  tests/test_kubelingo.py
Due: python-compile, run-cli-help

Create find_sources.py
  scripts/find_sources.py
Due: python-compile, run-cli-help

Update kubelingo.py
  kubelingo/kubelingo.py
Due: python-compile, run-cli-help

Update README.md
  README.md
Due: none

Create move_issues_from_missed.py
  scripts/move_issues_from_missed.py
Due: python-compile, run-cli-help

Update imperative_vs_declarative.yaml
  questions/imperative_vs_declarative.yaml
Due: prevent-question-data-deletion

Update ingress_http_routing.yaml
  questions/ingress_http_routing.yaml
Due: prevent-question-data-deletion

Update commands_args_env.yaml
  questions/commands_args_env.yaml
Due: prevent-question-data-deletion

Update jobs_cronjobs.yaml
  questions/jobs_cronjobs.yaml
Due: prevent-question-data-deletion

Update pyproject.toml
  pyproject.toml
Due: none

Create issues.md
  docs/issues.md
Due: none

Create issues.yaml
  user_data/issues.yaml
Due: prevent-question-data-deletion

Create missed_questions.yaml
  user_data/missed_questions.yaml
Due: prevent-question-data-deletion

Create performance.yaml
  user_data/performance.yaml
Due: prevent-question-data-deletion

reset
  .gitignore
  LICENSE
  README.md
  kubelingo/__init__.py
  kubelingo/kubelingo.py
  pyproject.toml
  questions/api_discovery_docs.yaml
  questions/app_configuration.yaml
  questions/commands_args_env.yaml
  questions/core_workloads.yaml
  questions/helm_basics.yaml
  questions/image_registry_use.yaml
  questions/imperative_vs_declarative.yaml
  questions/ingress_http_routing.yaml
  questions/jobs_cronjobs.yaml
  questions/kubectl_common_operations.yaml
  questions/kubectl_operations.yaml
  questions/labels_annotations_selectors.yaml
  questions/linux_syntax.yaml
  questions/namespaces_contexts.yaml
  questions/networking_utilities.yaml
  questions/observability_troubleshooting.yaml
  questions/persistence.yaml
  questions/pod_design_patterns.yaml
  questions/probes_health.yaml
  questions/resource_management.yaml
  questions/resource_reference.yaml
  questions/scheduling_hints.yaml
  questions/security_basics.yaml
  questions/service_accounts_in_apps.yaml
  questions/services.yaml
  requirements.txt
  scripts/find_sources.py
  scripts/move_issues_from_missed.py
  tests/test_kubelingo.py
  tests/test_questions_schema.py
Due: python-compile, prevent-question-data-deletion, run-cli-help

Create test_kubelingo_functions.py
  tests/test_kubelingo_functions.py
Due: python-compile, run-cli-help

Create .coverage
  .coverage
Due: none

Update test_kubelingo_functions.py
  tests/test_kubelingo_functions.py
Due: python-compile, run-cli-help

workflows
  .github/workflows/ci.yml
  .github/workflows/gemini-cli.yml
  .github/workflows/gemini-issue-automated-triage.yml
  .github/workflows/gemini-issue-scheduled-triage.yml
  .github/workflows/gemini-pr-review.yml
Due: prevent-question-data-deletion

Update ci.yml
  .github/workflows/ci.yml
Due: prevent-question-data-deletion

Update requirements.txt
  requirements.txt
Due: none

Bump version to 0.1.19 to fix PyPI upload issue
  pyproject.toml
Due: none

Add automatic version increment to CI/CD pipeline
  .github/workflows/ci.yml
Due: prevent-question-data-deletion

Implement automated semantic versioning in CI/CD workflow
  .github/workflows/ci.yml
Due: prevent-question-data-deletion
