Repository josephedward/kubelingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-compile, prevent-question-data-deletion, run-cli-help

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: python-compile
        name: Python Syntax Check
        entry: python -m compileall .
        language: system
        types: [python]
      - id: prevent-question-data-deletion
        name: Prevent deletion of quiz data files
        entry: |
          bash -c "if git diff --cached --diff-filter=D --name-only | grep -E '^(question-data/.*\.(yaml|yml)|question-data-backup/.*\.(yaml|yml))$'; then echo 'Error: Deletion of quiz data is prohibited.'; exit 1; fi"
        language: system
        types: [yaml]
        stages: [pre-commit]
      - id: run-cli-help
        name: Ensure Kubelingo CLI runs without error
        entry: |
          bash -c "python -m kubelingo.cli --help"
        language: system
        types: [python]

Update test_kubelingo_functions.py
  tests/test_kubelingo_functions.py
Due: python-compile, run-cli-help

Update linux_syntax.yaml
  questions/linux_syntax.yaml
Due: prevent-question-data-deletion

Fix: Prevent OpenRouter API calls when feedback is disabled
  kubelingo/kubelingo.py
Due: python-compile, run-cli-help

Update .gitignore
  .gitignore
Due: none

Create performance.yaml
  user_data/performance.yaml
Due: prevent-question-data-deletion

Create test_manifest_equivalence.py
  tests/test_manifest_equivalence.py
Due: python-compile, run-cli-help

Update test_kubelingo.py
  tests/test_kubelingo.py
Due: python-compile, run-cli-help

Create backup_performance_yaml.py
  scripts/backup_performance_yaml.py
Due: python-compile, run-cli-help

scripts
  scripts/enhance_questions.py
  scripts/find_sources.py
  scripts/format_manifest_solutions.py
  scripts/format_questions.py
  scripts/manage_questions.py
  scripts/process_manifest_questions.py
  scripts/review_similar_questions.py
Due: python-compile, run-cli-help

Update performance.yaml
  user_data/performance.yaml
Due: prevent-question-data-deletion

Update kubelingo.py
  kubelingo/kubelingo.py
Due: python-compile, run-cli-help

Update manage_questions.py
  scripts/manage_questions.py
Due: python-compile, run-cli-help

Update format_questions.py
  scripts/format_questions.py
Due: python-compile, run-cli-help

questions
  questions/api_discovery_docs.yaml
  questions/app_configuration.yaml
  questions/commands_args_env.yaml
  questions/core_workloads.yaml
  questions/helm_basics.yaml
  questions/image_registry_use.yaml
  questions/imperative_vs_declarative.yaml
  questions/ingress_http_routing.yaml
  questions/jobs_cronjobs.yaml
  questions/kubectl_common_operations.yaml
  questions/kubectl_operations.yaml
  questions/labels_annotations_selectors.yaml
  questions/linux_syntax.yaml
  questions/namespaces_contexts.yaml
  questions/networking_utilities.yaml
  questions/observability_troubleshooting.yaml
  questions/persistence.yaml
  questions/pod_design_patterns.yaml
  questions/probes_health.yaml
  questions/resource_management.yaml
  questions/resource_reference.yaml
  questions/scheduling_hints.yaml
  questions/security_basics.yaml
  questions/service_accounts_in_apps.yaml
  questions/services.yaml
Due: prevent-question-data-deletion
