Repository josephedward/kubelingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-compile, prevent-question-data-deletion, run-cli-help

python-compile:
  name: Python Syntax Check
  entry: python -m compileall .
  language: system

prevent-question-data-deletion:
  name: Prevent deletion of quiz data files
  entry: 'bash -c "if git diff --cached --diff-filter=D --name-only | grep -E ''^(question-data/.*\.(yaml|yml)|question-data-backup/.*\.(yaml|yml))$''; then echo ''Error: Deletion of quiz data is prohibited.''; exit 1; fi"
  
    '
  language: system
  stages:
  ...

run-cli-help:
  name: Ensure Kubelingo CLI runs without error
  entry: 'bash -c "python -m kubelingo.cli --help"
  
    '
  language: system

Update kubelingo.py
  kubelingo/kubelingo.py
Due: python-compile, run-cli-help

Update test_cli_hang.py
  tests/test_cli_hang.py
Due: python-compile, run-cli-help

Update test_kubelingo.py
  tests/test_kubelingo.py
Due: python-compile, run-cli-help

Update test_kubelingo_functions.py
  tests/test_kubelingo_functions.py
Due: python-compile, run-cli-help

Update performance.yaml
  user_data/performance.yaml
Due: prevent-question-data-deletion

Update .gitignore
  .gitignore
Due: none

Create question_generator.py
  kubelingo/question_generator.py
Due: python-compile, run-cli-help

Update api_discovery_docs.yaml
  questions/api_discovery_docs.yaml
Due: prevent-question-data-deletion

script consolidation
  scripts/format_questions.py
  scripts/manage_questions.py
  scripts/move_issues_from_missed.py
  scripts/question-mangage.py
Due: python-compile, run-cli-help

tests
  tests/test_cli_hang.py
  tests/test_kubelingo.py
  tests/test_kubelingo_functions.py
  tests/test_question_generator.py
Due: python-compile, run-cli-help

Update question_generator.py
  kubelingo/question_generator.py
Due: python-compile, run-cli-help

Update test_question_generator.py
  tests/test_question_generator.py
Due: python-compile, run-cli-help

Create utils.py
  kubelingo/utils.py
Due: python-compile, run-cli-help

question sources
  questions/api_discovery_docs.yaml
  questions/app_configuration.yaml
  questions/commands_args_env.yaml
  questions/core_workloads.yaml
  questions/helm_basics.yaml
  questions/image_registry_use.yaml
  questions/imperative_vs_declarative.yaml
  questions/ingress_http_routing.yaml
  questions/jobs_cronjobs.yaml
  questions/kubectl_common_operations.yaml
  questions/kubectl_operations.yaml
  questions/labels_annotations_selectors.yaml
  questions/linux_syntax.yaml
  questions/namespaces_contexts.yaml
  questions/networking_utilities.yaml
  questions/observability_troubleshooting.yaml
  questions/persistence.yaml
  questions/pod_design_patterns.yaml
  questions/probes_health.yaml
  questions/resource_management.yaml
  questions/resource_reference.yaml
  questions/scheduling_hints.yaml
  questions/security_basics.yaml
  questions/service_accounts_in_apps.yaml
  questions/services.yaml
Due: prevent-question-data-deletion

Path conditions:
  python-compile: any of: \.py$
  prevent-question-data-deletion: any of: \.(yaml|yml)$
  run-cli-help: any of: \.py$
