Repository josephedward/kubelingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-compile, prevent-question-data-deletion, run-cli-help

python-compile:
  name: Python Syntax Check
  entry: python -m compileall .
  language: system

prevent-question-data-deletion:
  name: Prevent deletion of quiz data files
  entry: 'bash -c "if git diff --cached --diff-filter=D --name-only | grep -E ''^(question-data/.*\.(yaml|yml)|question-data-backup/.*\.(yaml|yml))$''; then echo ''Error: Deletion of quiz data is prohibited.''; exit 1; fi"
  
    '
  language: system
  stages:
  ...

run-cli-help:
  name: Ensure Kubelingo CLI runs without error
  entry: 'bash -c "python -m kubelingo.cli --help"
  
    '
  language: system

refactor: switch openrouter to direct api calls instead of openai client
  kubelingo/kubelingo.py
Due: python-compile, run-cli-help

feat: add OpenRouter support and handle vim edit validation
  kubelingo/kubelingo.py
  tests/test_kubelingo_functions.py
Due: python-compile, run-cli-help

feat: make OpenRouter default LLM with tests
  kubelingo/kubelingo.py
  tests/test_kubelingo_functions.py
Due: python-compile, run-cli-help

test: correct menu navigation steps in config tests
  tests/test_kubelingo_functions.py
Due: python-compile, run-cli-help

feat: add OpenRouter API support to LLM integration
  tests/test_kubelingo_functions.py
Due: python-compile, run-cli-help

docs: clarify configmap content viewing question with 'detailed'
  questions/app_configuration.yaml
Due: prevent-question-data-deletion

fix: Add correct pod manifest solution for secret volume question
  questions/app_configuration.yaml
Due: prevent-question-data-deletion

test: update LLM tests with requests mock and enhance completion check
  tests/test_kubelingo_functions.py
Due: python-compile, run-cli-help

test: fix llm model selection tests and vim assertion
  tests/test_kubelingo_functions.py
Due: python-compile, run-cli-help

test: add mock requests post to LLM test dependencies
  tests/test_kubelingo_functions.py
Due: python-compile, run-cli-help

test: add mock for OpenRouter health check in test fixture
  tests/test_kubelingo_functions.py
Due: python-compile, run-cli-help

fix: correct mock references in LLM model tests
  tests/test_kubelingo_functions.py
Due: python-compile, run-cli-help

test: Fix model selection env vars and error output checks
  tests/test_kubelingo_functions.py
Due: python-compile, run-cli-help

test: fix assertion to check stdout for vim validation message
  tests/test_kubelingo_functions.py
Due: python-compile, run-cli-help

test: fix mock question data for vim no-solution test
  tests/test_kubelingo_functions.py
Due: python-compile, run-cli-help

test: add missing solutions field to vim test mock data
  tests/test_kubelingo_functions.py
Due: python-compile, run-cli-help

Update kubelingo.py
  kubelingo/kubelingo.py
Due: python-compile, run-cli-help

Update .gitignore
  .gitignore
Due: none

commit
  .gitignore
  questions/app_configuration.yaml
  questions/commands_args_env.yaml
  questions/core_workloads.yaml
  questions/helm_basics.yaml
  questions/image_registry_use.yaml
  questions/imperative_vs_declarative.yaml
  questions/ingress_http_routing.yaml
  questions/jobs_cronjobs.yaml
  questions/kubectl_common_operations.yaml
  questions/labels_annotations_selectors.yaml
  questions/linux_syntax.yaml
  questions/namespaces_contexts.yaml
  questions/observability_troubleshooting.yaml
  questions/persistence.yaml
  questions/pod_design_patterns.yaml
  questions/probes_health.yaml
  questions/resource_management.yaml
  questions/resource_reference.yaml
  questions/scheduling_hints.yaml
  questions/security_basics.yaml
  questions/service_accounts_in_apps.yaml
  questions/services.yaml
  scripts/format_manifest_solutions.py
  scripts/format_yaml_solution.py
  scripts/process_manifest_questions.py
  tests/test_kubelingo_functions.py
Due: python-compile, prevent-question-data-deletion, run-cli-help

Update app_configuration.yaml
  questions/app_configuration.yaml
Due: prevent-question-data-deletion

Path conditions:
  python-compile: any of: \.py$
  prevent-question-data-deletion: any of: \.(yaml|yml)$
  run-cli-help: any of: \.py$
