Repository josephedward/kubelingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-compile, prevent-question-data-deletion, run-cli-help

python-compile:
  name: Python Syntax Check
  entry: python -m compileall .
  language: system

prevent-question-data-deletion:
  name: Prevent deletion of quiz data files
  entry: 'bash -c "if git diff --cached --diff-filter=D --name-only | grep -E ''^(question-data/.*\.(yaml|yml)|question-data-backup/.*\.(yaml|yml))$''; then echo ''Error: Deletion of quiz data is prohibited.''; exit 1; fi"
  
    '
  language: system
  stages:
  ...

run-cli-help:
  name: Ensure Kubelingo CLI runs without error
  entry: 'bash -c "python -m kubelingo.cli --help"
  
    '
  language: system

scripts
  scripts/bug_ticket.py
  scripts/categorize_questions.py
  scripts/create_sqlite_db_from_yaml.py
  scripts/deduplicate_questions.py
  scripts/diff_sqlite.py
  scripts/diff_sqlite_backup.py
  scripts/diff_yaml_backups.py
  scripts/fix_links.py
  scripts/fix_question_categories.py
  scripts/format_questions.py
  scripts/legacy/migrate_all_yaml_questions.py
  scripts/legacy/restore_all.py
  scripts/legacy/restore_db_from_backup.py
  scripts/lint_fix_question_format.py
  scripts/locate_sqlite_backups.py
  scripts/locate_yaml_backups.py
  scripts/maintenance_menu.py
  scripts/migrate_yaml_questions.py
  scripts/restore_db_from_yaml.py
  scripts/restore_sqlite.py
  scripts/restore_sqlite_backup.py
  scripts/show_db_schema.py
  scripts/show_previous_yaml_backups.py
  scripts/show_sqlite_backups.py
  scripts/show_sqlite_schema.py
  scripts/validate_doc_links.py
  scripts/write_db_from_yaml.py
  scripts/yaml_statistics.py
Due: python-compile, run-cli-help

chore: Configure SQLite backups to use `backups/sqlite`
  kubelingo/utils/config.py
Due: python-compile, run-cli-help

tests for scripts
  tests/scripts/__init__.py
  tests/scripts/test_index_scripts.py
  tests/scripts/test_path_utils.py
  tests/scripts/test_question_scripts.py
  tests/scripts/test_sqlite_scripts.py
  tests/scripts/test_yaml_scripts.py
  tests/test_path_utils.py
  tests/test_script_tools.py
Due: python-compile, run-cli-help

fix: Map and filter YAML question fields for DB import
  scripts/restore_yaml_to_db.py
Due: python-compile, run-cli-help

refactor: Populate DB from YAML; apply category/subject; filter add_question args
  kubelingo/database.py
  scripts/create_sqlite_db_from_yaml.py
Due: python-compile, run-cli-help

Create pytest.ini
  pytest.ini
Due: none

fix: Persist question metadata and correctly restore DB from YAML
  kubelingo/database.py
  scripts/restore_yaml_to_db.py
Due: python-compile, run-cli-help

docs: Add troubleshooting for DB import and YAML backup location
  shared_context.md
Due: none

chore: Update backup indices
  backups/index.yaml
  backups/sqlite_index.yaml
Due: prevent-question-data-deletion

refactor: Update backup index paths for file reorganization
  backups/index.yaml
  backups/sqlite_index.yaml
Due: prevent-question-data-deletion

Update sqlite_index.yaml
  backups/sqlite/sqlite_index.yaml
Due: prevent-question-data-deletion

Delete index.yaml
  backups/index.yaml
Due: prevent-question-data-deletion

Create index.yaml
  backups/yaml/index.yaml
Due: prevent-question-data-deletion

Create kubelingo_backup_20250811_152738.db
  question-data-backup/kubelingo_backup_20250811_152738.db
Due: none

feat: Add interactive DB population confirmation and --yes flag
  scripts/create_sqlite_db_from_yaml.py
Due: python-compile, run-cli-help

feat: Add interactive YAML backup selection and fix question args
  scripts/create_sqlite_db_from_yaml.py
Due: python-compile, run-cli-help

fix: Correct subject_matter column in categorize_questions script
  scripts/categorize_questions.py
  tests/scripts/test_question_scripts.py
Due: python-compile, run-cli-help

feat: Sample discovered YAML files during DB population
  scripts/create_sqlite_db_from_yaml.py
Due: python-compile, run-cli-help

fix: Correctly retrieve YAML backup files in DB creation script
  scripts/create_sqlite_db_from_yaml.py
Due: python-compile, run-cli-help

Update kubelingo.db
  .kubelingo/kubelingo.db
Due: none

fix: Remove database clearing option from YAML import script
  scripts/create_sqlite_db_from_yaml.py
Due: python-compile, run-cli-help

fix: Scan only `backups/yaml` for YAML backups
  scripts/create_sqlite_db_from_yaml.py
Due: python-compile, run-cli-help

fix: Use pathlib glob for YAML backup discovery
  scripts/create_sqlite_db_from_yaml.py
Due: python-compile, run-cli-help

fix: Parse questions from nested 'questions' key in YAML
  scripts/create_sqlite_db_from_yaml.py
Due: python-compile, run-cli-help

fix: Improve YAML parsing to find nested question lists
  scripts/create_sqlite_db_from_yaml.py
Due: python-compile, run-cli-help

fix: Ensure YAML import script populates live DB
  scripts/create_sqlite_db_from_yaml.py
Due: python-compile, run-cli-help

fix: Correctly populate DB with all question fields and clear existing data
  scripts/create_sqlite_db_from_yaml.py
Due: python-compile, run-cli-help

fix: Correct question type field and clear DB on import
  scripts/create_sqlite_db_from_yaml.py
Due: python-compile, run-cli-help

refactor: Rename question_type to type in allowed arguments
  scripts/create_sqlite_db_from_yaml.py
Due: python-compile, run-cli-help

fix: Default `create_sqlite_db_from_yaml` to live DB and clarify prompt
  scripts/create_sqlite_db_from_yaml.py
Due: python-compile, run-cli-help

refactor: Move database clearing to main script execution
  scripts/create_sqlite_db_from_yaml.py
Due: python-compile, run-cli-help

fix: Stop passing 'subject' argument to add_question
  scripts/create_sqlite_db_from_yaml.py
Due: python-compile, run-cli-help

fix: Make create_sqlite_db_from_yaml non-interactive with --yes
  scripts/create_sqlite_db_from_yaml.py
Due: python-compile, run-cli-help

fix: Target 'questions' key for YAML question data parsing
  scripts/create_sqlite_db_from_yaml.py
Due: python-compile, run-cli-help

fix: Remove 'subject' key before adding question to database
  scripts/create_sqlite_db_from_yaml.py
Due: python-compile, run-cli-help

fix: Remove 'type' from allowed args for add_question
  scripts/create_sqlite_db_from_yaml.py
Due: python-compile, run-cli-help

fix: Remove 'type' field from question before passing to DB
  scripts/create_sqlite_db_from_yaml.py
Due: python-compile, run-cli-help

fix: Map type and subject fields correctly when importing YAML
  scripts/create_sqlite_db_from_yaml.py
Due: python-compile, run-cli-help

feat: Add support for new question fields
  scripts/create_sqlite_db_from_yaml.py
Due: python-compile, run-cli-help

feat: Add script to verify database question counts
  scripts/verify_db_questions.py
Due: python-compile, run-cli-help

Path conditions:
  python-compile: any of: \.py$
  prevent-question-data-deletion: any of: \.(yaml|yml)$
  run-cli-help: any of: \.py$
