Repository josephedward/kubelingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-compile, prevent-question-data-deletion, run-cli-help

python-compile:
  name: Python Syntax Check
  entry: python -m compileall .
  language: system

prevent-question-data-deletion:
  name: Prevent deletion of quiz data files
  entry: 'bash -c "if git diff --cached --diff-filter=D --name-only | grep -E ''^(question-data/.*\.(yaml|yml)|question-data-backup/.*\.(yaml|yml))$''; then echo ''Error: Deletion of quiz data is prohibited.''; exit 1; fi"
  
    '
  language: system
  stages:
  ...

run-cli-help:
  name: Ensure Kubelingo CLI runs without error
  entry: 'bash -c "python -m kubelingo.cli --help"
  
    '
  language: system

Update namespaces_contexts.yaml
  questions/namespaces_contexts.yaml
Due: prevent-question-data-deletion

Update app_configuration.yaml
  questions/app_configuration.yaml
Due: prevent-question-data-deletion

Update core_workloads.yaml
  questions/core_workloads.yaml
Due: prevent-question-data-deletion

Update linux_syntax.yaml
  questions/linux_syntax.yaml
Due: prevent-question-data-deletion

Update persistence.yaml
  questions/persistence.yaml
Due: prevent-question-data-deletion

Update pod_design_patterns.yaml
  questions/pod_design_patterns.yaml
Due: prevent-question-data-deletion

refactor: improve solution handling and YAML output in Vim edit function
  kubelingo/kubelingo.py
Due: python-compile, run-cli-help

feat: Implement vim editing for manifest questions in exam logic
  kubelingo/kubelingo.py
Due: python-compile, run-cli-help

Update kubelingo.py
  kubelingo/kubelingo.py
Due: python-compile, run-cli-help

Update test_kubelingo_functions.py
  tests/test_kubelingo_functions.py
Due: python-compile, run-cli-help

Update imperative_vs_declarative.yaml
  questions/imperative_vs_declarative.yaml
Due: prevent-question-data-deletion

questions
  questions/ingress_http_routing.yaml
  questions/jobs_cronjobs.yaml
  questions/labels_annotations_selectors.yaml
  questions/linux_syntax.yaml
  questions/namespaces_contexts.yaml
  questions/persistence.yaml
  questions/pod_design_patterns.yaml
  questions/probes_health.yaml
  questions/resource_management.yaml
  questions/scheduling_hints.yaml
  questions/security_basics.yaml
  questions/service_accounts_in_apps.yaml
Due: prevent-question-data-deletion

Update test_kubelingo.py
  tests/test_kubelingo.py
Due: python-compile, run-cli-help

Update usage.md
  docs/usage.md
Due: none

Path conditions:
  python-compile: any of: \.py$
  prevent-question-data-deletion: any of: \.(yaml|yml)$
  run-cli-help: any of: \.py$
