Repository josephedward/kubelingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-compile, prevent-question-data-deletion, run-cli-help

python-compile:
  name: Python Syntax Check
  entry: python -m compileall .
  language: system

prevent-question-data-deletion:
  name: Prevent deletion of quiz data files
  entry: 'bash -c "if git diff --cached --diff-filter=D --name-only | grep -E ''^(question-data/.*\.(yaml|yml)|question-data-backup/.*\.(yaml|yml))$''; then echo ''Error: Deletion of quiz data is prohibited.''; exit 1; fi"
  
    '
  language: system
  stages:
  ...

run-cli-help:
  name: Ensure Kubelingo CLI runs without error
  entry: 'bash -c "python -m kubelingo.cli --help"
  
    '
  language: system

gitignore
  .gitignore
Due: none

Create cli.py
  kubelingo/cli.py
Due: python-compile, run-cli-help

Update .gitignore
  .gitignore
Due: none

Create setup.py
  setup.py
Due: python-compile, run-cli-help

Update cli.py
  kubelingo/cli.py
Due: python-compile, run-cli-help

Create install.py
  kubelingo/install.py
Due: python-compile, run-cli-help

Delete requirements.txt
  kubelingo/requirements.txt
Due: none

Delete setup.py
  kubelingo/setup.py
Due: python-compile, run-cli-help

Create requirements.txt
  requirements.txt
Due: none

Create LICENSE
  LICENSE
Due: none

Create pyproject.toml
  pyproject.toml
Due: none

scripts
  scripts/demo_gemini.py
  scripts/demo_openrouter.py
Due: python-compile, run-cli-help

tests
  tests/test_cli_import_menu.py
  tests/test_cli_quiz_session.py
  tests/test_importer.py
Due: python-compile, run-cli-help

Update pyproject.toml
  pyproject.toml
Due: none

Create importer.py
  kubelingo/importer.py
Due: python-compile, run-cli-help

Update requirements.md
  requirements.md
Due: none

Update importer.py
  kubelingo/importer.py
Due: python-compile, run-cli-help

Update test_importer.py
  tests/test_importer.py
Due: python-compile, run-cli-help

import
  tests/import_test_files/test.json
  tests/import_test_files/test.md
  tests/import_test_files/test.txt
  tests/import_test_files/test.yaml
  tests/test_importer.py
Due: python-compile, prevent-question-data-deletion, run-cli-help

Create import_questions.py
  scripts/import_questions.py
Due: python-compile, run-cli-help

tests
  kubelingo/tests/test_question_generator_tf.py
  kubelingo/tests/test_question_generator_vocab.py
  kubelingo/tests/test_quiz_menu_display.py
Due: python-compile, run-cli-help

Update grader.py
  kubelingo/grader.py
Due: python-compile, run-cli-help

Update k8s_manifest_generator.py
  kubelingo/k8s_manifest_generator.py
Due: python-compile, run-cli-help

tests
  tests/test_backend_integrator.py
  tests/test_cli_import_menu.py
  tests/test_cli_main.py
  tests/test_cli_menu_flow.py
  tests/test_cli_review.py
  tests/test_grader.py
  tests/test_manifest_generator.py
  tests/test_trivia_matrix_batch1.py
Due: python-compile, run-cli-help

Update import_questions.py
  scripts/import_questions.py
Due: python-compile, run-cli-help

tests
  kubelingo/tests/test_backend_integrator.py
  kubelingo/tests/test_grader.py
  kubelingo/tests/test_manifest_generator.py
  kubelingo/tests/test_question_generator.py
  tests/test_backend_integrator.py
  tests/test_grader.py
  tests/test_import_question_generator.py
  tests/test_imports.py
  tests/test_manifest_generator.py
  tests/test_question_generator_tf.py
  tests/test_question_generator_vocab.py
  tests/test_quiz_menu_display.py
  tests/test_trivia_matrix_batch1.py
Due: python-compile, run-cli-help

Create llm_utils.py
  kubelingo/llm_utils.py
Due: python-compile, run-cli-help

Create general_instructions.md
  docs/general_instructions.md
Due: none

Path conditions:
  python-compile: any of: \.py$
  prevent-question-data-deletion: any of: \.(yaml|yml)$
  run-cli-help: any of: \.py$
