Repository josephedward/kubelingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-compile, prevent-question-data-deletion, run-cli-help

python-compile:
  name: Python Syntax Check
  entry: python -m compileall .
  language: system

prevent-question-data-deletion:
  name: Prevent deletion of quiz data files
  entry: 'bash -c "if git diff --cached --diff-filter=D --name-only | grep -E ''^(question-data/.*\.(yaml|yml)|question-data-backup/.*\.(yaml|yml))$''; then echo ''Error: Deletion of quiz data is prohibited.''; exit 1; fi"
  
    '
  language: system
  stages:
  ...

run-cli-help:
  name: Ensure Kubelingo CLI runs without error
  entry: 'bash -c "python -m kubelingo.cli --help"
  
    '
  language: system

feat: add fallback web search for question material
  kubelingo/question_generator.py
Due: python-compile, run-cli-help

refactor: use official Kubernetes API for documentation queries
  kubelingo/question_generator.py
Due: python-compile, run-cli-help

fix: add exception handling for API request
  kubelingo/question_generator.py
Due: python-compile, run-cli-help

feat: add fallback to general web search when curated sources are unavailable
  kubelingo/question_generator.py
Due: python-compile, run-cli-help

fix: Add exception handling for API requests
  kubelingo/question_generator.py
Due: python-compile, run-cli-help

feat: add section field to question template
  kubelingo/question_generator.py
Due: python-compile, run-cli-help

fix: handle missing sections by inferring from topic
  kubelingo/question_generator.py
Due: python-compile, run-cli-help

feat: add helm.sh docs support and make section optional
  kubelingo/question_generator.py
Due: python-compile, run-cli-help

Create search.md
  docs/search.md
Due: none

untracked files on main: 5d2ac93c Create search.md
  kubelingo/question_search.py
  tests/test_cli_search_and_quality.py
  tests/test_question_search.py
  user_data/debug_question.yaml
Due: python-compile, prevent-question-data-deletion, run-cli-help

commit
  docs/shared_context.md
  kubelingo/kubelingo.py.bak
  kubelingo/source_manager.py
  kubelingo/validation.py
  questions/app_configuration.yaml
  questions/commands_args_env.yaml
  questions/image_registry_use.yaml
  requirements.txt
  scripts/generators/auto_question_generator.py
  scripts/generators/procure_questions.py
  scripts/generators/temp_generate_question.py
  scripts/jsonnet/generate_jsonnet_question.py
  scripts/jsonnet/jsonnet_generator.py
  scripts/jsonnet/temp_generate_jsonnet_question.py
  scripts/k8s-qgen_090125/README.md
  scripts/k8s-qgen_090125/config.json
  scripts/k8s-qgen_090125/k8s_quesion_generator.py
  scripts/k8s-qgen_090125/requirements.txt
  scripts/k8s-qgen_090125/test_questions.json
  scripts/qgen+grader_090125/detailed_question_generator.py
  scripts/qgen+grader_090125/implementation_guide.md
  scripts/qgen+grader_090125/kubernetes_grader.py
  scripts/qgen+grader_090125/sample_questions.yaml
  scripts/qgen+grader_090125/yaml_converter.py
  scripts/templates/image_registry_use.jsonnet
  test/user_data/performance.yaml
  tests/test_kubernetes_validator.py
  tests/test_yaml_converter.py
  user_data/performance.yaml
Due: python-compile, prevent-question-data-deletion, run-cli-help

Squashed commit of the following:
  docs/question_generation_tools.md
  docs/roadmap.md
  docs/shared_context.md
  kubelingo/kubelingo.py.bak
  kubelingo/question_generator.py
  kubelingo/source_manager.py
  kubelingo/validation.py
  questions/image_registry_use.yaml
  requirements.txt
  scripts/generators/auto_question_generator.py
  scripts/generators/procure_questions.py
  scripts/generators/temp_generate_question.py
  scripts/jsonnet/generate_jsonnet_question.py
  scripts/jsonnet/jsonnet_generator.py
  scripts/jsonnet/temp_generate_jsonnet_question.py
  scripts/k8s-qgen_090125/README.md
  scripts/k8s-qgen_090125/config.json
  scripts/k8s-qgen_090125/k8s_quesion_generator.py
  scripts/k8s-qgen_090125/requirements.txt
  scripts/k8s-qgen_090125/test_questions.json
  scripts/qgen+grader_090125/detailed_question_generator.py
  scripts/qgen+grader_090125/implementation_guide.md
  scripts/qgen+grader_090125/kubernetes_grader.py
  scripts/qgen+grader_090125/sample_questions.yaml
  scripts/qgen+grader_090125/yaml_converter.py
  scripts/templates/image_registry_use.jsonnet
  test/user_data/performance.yaml
  tests/test_kubernetes_validator.py
  tests/test_validation.py
  tests/test_yaml_converter.py
  user_data/performance.yaml
Due: python-compile, prevent-question-data-deletion, run-cli-help

Update detailed_question_generator.py
  scripts/qgen+grader_090125/detailed_question_generator.py
Due: python-compile, run-cli-help

Create check_urls.py
  scripts/check_urls.py
Due: python-compile, run-cli-help

qs
  data/questions/api_discovery_docs.yaml
  data/questions/app_configuration.yaml
  data/questions/commands_args_env.yaml
  data/questions/core_workloads.yaml
  data/questions/helm_basics.yaml
  data/questions/image_registry_use.yaml
  data/questions/imperative_vs_declarative.yaml
  data/questions/ingress_http_routing.yaml
  data/questions/jobs_cronjobs.yaml
  data/questions/kubectl_common_operations.yaml
  data/questions/kubectl_operations.yaml
  data/questions/labels_annotations_selectors.yaml
  data/questions/linux_syntax.yaml
  data/questions/namespaces_contexts.yaml
  data/questions/networking_utilities.yaml
  data/questions/observability_troubleshooting.yaml
  data/questions/persistence.yaml
  data/questions/pod_design_patterns.yaml
  data/questions/probes_health.yaml
  data/questions/resource_management.yaml
  data/questions/resource_reference.yaml
  data/questions/scheduling_hints.yaml
  data/questions/security_basics.yaml
  data/questions/service_accounts_in_apps.yaml
  data/questions/services.yaml
  data/url_list.md
  kubelingo/kubelingo.py
  kubelingo/validation.py
Due: python-compile, prevent-question-data-deletion, run-cli-help

Update source_manager.py
  kubelingo/source_manager.py
Due: python-compile, run-cli-help

user data
  data/user/issues.yaml
  data/user/missed_questions.yaml
  data/user/performance.yaml
Due: prevent-question-data-deletion

Update issue_manager.py
  kubelingo/issue_manager.py
Due: python-compile, run-cli-help

Update kubelingo.py
  kubelingo/kubelingo.py
Due: python-compile, run-cli-help

Update performance_tracker.py
  kubelingo/performance_tracker.py
Due: python-compile, run-cli-help

Path conditions:
  python-compile: any of: \.py$
  prevent-question-data-deletion: any of: \.(yaml|yml)$
  run-cli-help: any of: \.py$
