Repository josephedward/kubelingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-compile, prevent-question-data-deletion, run-cli-help

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: python-compile
        name: Python Syntax Check
        entry: python -m compileall .
        language: system
        types: [python]
      - id: prevent-question-data-deletion
        name: Prevent deletion of quiz data files
        entry: |
          bash -c "if git diff --cached --diff-filter=D --name-only | grep -E '^(question-data/.*\.(yaml|yml)|question-data-backup/.*\.(yaml|yml))$'; then echo 'Error: Deletion of quiz data is prohibited.'; exit 1; fi"
        language: system
        types: [yaml]
        stages: [pre-commit]
      - id: run-cli-help
        name: Ensure Kubelingo CLI runs without error
        entry: |
          bash -c "python -m kubelingo.cli --help"
        language: system
        types: [python]

feat: Implement 'back' command to remove last entered line
  kubelingo.py
Due: python-compile, run-cli-help

test: Add unit tests for 'back' command via input refactor
  kubelingo.py
  tests/test_kubelingo.py
Due: python-compile, run-cli-help

refactor: Convert unittest to pytest for get_user_input tests
  tests/test_kubelingo.py
Due: python-compile, run-cli-help

fix: Enable arrow key navigation in input with readline
  kubelingo.py
  tests/test_kubelingo.py
Due: python-compile, run-cli-help

feat: Configure Vim for 2-space tabs and add test
  kubelingo.py
  tests/test_kubelingo.py
Due: python-compile, run-cli-help

feat: Implement topic performance tracking and display
  kubelingo.py
  tests/test_kubelingo.py
Due: python-compile, run-cli-help

feat: Add color formatting to CLI output and test
  kubelingo.py
  requirements.txt
  tests/test_kubelingo.py
Due: python-compile, run-cli-help

Update .gitignore
  .gitignore
Due: none

style: Style AI feedback header and remove separator
  kubelingo.py
Due: python-compile, run-cli-help

fix: Force color output for termcolor in tests
  tests/test_kubelingo.py
Due: python-compile, run-cli-help

feat: Add ASCII art title and YAML syntax highlighting
  kubelingo.py
  requirements.txt
  tests/test_kubelingo.py
Due: python-compile, run-cli-help

fix: Reset topic scores and enhance menu UI with colors and question counts
  kubelingo.py
  tests/test_kubelingo.py
Due: python-compile, run-cli-help

fix: Prevent FileExistsError when creating user data dir
  kubelingo.py
Due: python-compile, run-cli-help

feat: Show colorized diff for incorrect manifest submissions
  kubelingo.py
  tests/test_kubelingo.py
Due: python-compile, run-cli-help

fix: Make topic grading session-specific and overwrite scores
  kubelingo.py
  tests/test_kubelingo.py
Due: python-compile, run-cli-help

fix: Remove mock for non-existent update_performance function from tests
  tests/test_kubelingo.py
Due: python-compile, run-cli-help

fix: Make test_session_score_overwrites_performance_data deterministic
  tests/test_kubelingo.py
Due: python-compile, run-cli-help

fix: Display topic progress using unique correct questions
  kubelingo.py
  tests/test_kubelingo.py
Due: python-compile, run-cli-help

fix: Prevent display of old session-based topic progress
  kubelingo.py
Due: python-compile, run-cli-help

test: Add test to ignore old performance data in topic menu
  tests/test_kubelingo.py
Due: python-compile, run-cli-help

Update kubelingo.py
  kubelingo.py
Due: python-compile, run-cli-help

Create source_manager.py
  scripts/source_manager.py
Due: python-compile, run-cli-help

scripts
  scripts/consolidated_20250811_144940.yaml
  scripts/format_yaml.py
  scripts/revert_yaml_files.sh
  scripts/temp_format_yaml.py
  scripts/temp_output.yaml
Due: python-compile, prevent-question-data-deletion, run-cli-help

scripts
  scripts/consolidated_20250811_144940.yaml
  scripts/format_yaml.py
  scripts/revert_yaml_files.sh
  scripts/source_manager.py
  scripts/temp_format_yaml.py
  scripts/temp_output.yaml
Due: python-compile, prevent-question-data-deletion, run-cli-help

sources
  questions/api_discovery_docs.yaml
  questions/app_configuration.yaml
  questions/core_workloads.yaml
  questions/helm_basics.yaml
  questions/imperative_vs_declarative.yaml
  questions/kubectl_common_operations.yaml
  questions/kubectl_operations.yaml
  questions/labels_annotations_selectors.yaml
  questions/linux_syntax.yaml
  questions/namespaces_contexts.yaml
  questions/pod_design_patterns.yaml
  questions/resource_reference.yaml
  questions/security_basics.yaml
  questions/service_accounts_in_apps.yaml
  questions/services.yaml
Due: prevent-question-data-deletion

Update app_configuration.yaml
  questions/app_configuration.yaml
Due: prevent-question-data-deletion

Update kubectl_common_operations.yaml
  questions/kubectl_common_operations.yaml
Due: prevent-question-data-deletion

test: Update tests for 'clear' command and refine output assertions
  tests/test_kubelingo.py
Due: python-compile, run-cli-help

Update test_kubelingo.py
  tests/test_kubelingo.py
Due: python-compile, run-cli-help

pkg
  kubelingo/__init__.py
  kubelingo/kubelingo.py
Due: python-compile, run-cli-help

Create LICENSE
  LICENSE
Due: none
