Repository josephedward/kubelingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-compile, prevent-question-data-deletion, run-cli-help

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: python-compile
        name: Python Syntax Check
        entry: python -m compileall .
        language: system
        types: [python]
      - id: prevent-question-data-deletion
        name: Prevent deletion of quiz data files
        entry: |
          bash -c "if git diff --cached --diff-filter=D --name-only | grep -E '^(question-data/.*\.(yaml|yml)|question-data-backup/.*\.(yaml|yml))$'; then echo 'Error: Deletion of quiz data is prohibited.'; exit 1; fi"
        language: system
        types: [yaml]
        stages: [pre-commit]
      - id: run-cli-help
        name: Ensure Kubelingo CLI runs without error
        entry: |
          bash -c "python -m kubelingo.cli --help"
        language: system
        types: [python]

Update README.md
  README.md
Due: none

bugs
  .coverage
  kubelingo/kubelingo.py
  kubelingo/question_generator.py
  kubelingo/utils.py
  kubelingo/validation.py
  questions/commands_args_env.yaml
  questions/image_registry_use.yaml
  tests/test_kubelingo.py
Due: python-compile, prevent-question-data-deletion, run-cli-help

Create roadmap.md
  docs/roadmap.md
Due: none

Update test_kubelingo.py
  tests/test_kubelingo.py
Due: python-compile, run-cli-help

Create test_performance_data.py
  tests/test_performance_data.py
Due: python-compile, run-cli-help

Update test_performance.py
  tests/test_performance.py
Due: python-compile, run-cli-help

Update app_configuration.yaml
  questions/app_configuration.yaml
Due: prevent-question-data-deletion

refactor: improve performance data handling and topic selection flow
  kubelingo/kubelingo.py
Due: python-compile, run-cli-help

fix: ensure performance data loading returns status tuple
  kubelingo/kubelingo.py
Due: python-compile, run-cli-help

Update issue_manager.py
  kubelingo/issue_manager.py
Due: python-compile, run-cli-help

Create performance_tracker.py
  kubelingo/performance_tracker.py
Due: python-compile, run-cli-help

feat: add web source-based question generation fallback
  kubelingo/question_generator.py
Due: python-compile, run-cli-help

feat: use curated k8s docs instead of web search
  kubelingo/question_generator.py
Due: python-compile, run-cli-help

fix: add error handling for web search operations
  kubelingo/question_generator.py
Due: python-compile, run-cli-help

(no commit message provided)
  kubelingo/question_generator.py
Due: python-compile, run-cli-help

feat: enable module execution via __main__
  kubelingo/__main__.py
Due: python-compile, run-cli-help

feat: enhance question handling with canonical comparison and backup utilities
  kubelingo/question_generator.py
  kubelingo/utils.py
Due: python-compile, run-cli-help

feat: enforce documentation-based question generation with source validation
  kubelingo/question_generator.py
  kubelingo/utils.py
Due: python-compile, run-cli-help

fix: Add BeautifulSoup import and remove undefined web search code
  kubelingo/question_generator.py
Due: python-compile, run-cli-help
